<div class="topHedRight__form" id="search">
    <input name="search" type="text" placeholder="Поиск..." value="<?php echo $search; ?>"
           placeholder="<?php echo $text_search; ?>">
    <button>
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
</div>