@import "../variables";

.tittleAboutAu{
  text-align:center;
  color:@colorText;
  font-family: @abold;
  font-size: @f40;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.blockGrayText--border{
  border-top:1px solid #c7c7c7;
  border-bottom:1px solid #c7c7c7;
  margin-bottom: 30px;
}
.blockGrayText__text{
  max-width: 970px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #acacac;
  font-family: @alig;
  font-size: @f20;
  font-style: italic;
  padding:20px 0 ;
}
.blocAboutAs-1__text{
  color: @colorText;
  font-family: @alig;
  font-size: @f20;
  margin-bottom: 28px;
  span{
    font-family: @abold;
  }
}
.blocAboutAs-1__img{
  img{
    width: 100%;
    margin-bottom: 35px;
  }
}
.aboutAsLeftImg,
.aboutAsImgLeft{
  width: 100%;
}
.aboutAsTextRight{
  p{
    max-width: 372px;
    color: @colorText;
    font-family: @alig;
    font-size: @f20;
    float: right;
    text-align: justify;
    margin-right: 60px;
    margin-top: 60px;
  }
}
.row--mar{
  margin-top: 60px;
  margin-bottom: 100px;
  padding-bottom: 20px;
  border-bottom:1px solid #c7c7c7
}
.aboutAsTextLeft{
  p{
    max-width: 410px;
    color: @colorText;
    font-family: @alig;
    font-size: @f20;
    margin-bottom: 26px;
  }
  .aboutAsTextLeft__phone{
    color: @colorText;
    font-family: @abold;
    font-size: @f20;
  }
}

@media screen and (max-width:992px){
  .aboutAsTextRight p,
  .aboutAsTextLeft p{
    max-width: 100%;
    text-align: center;
    margin-right: 0;
  }
  .row--mar{
    padding-bottom: 0;
    border:none;
  }
}