@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf"), url("fonts/Akrobat-Black.eot") format("embedded-opentype"), url("fonts/Akrobat-Black.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Bold";
  src: url("fonts/Akrobat-Bold.eot"), url("fonts/Akrobat-Bold.woff") format("woff"), url("fonts/Akrobat-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/Akrobat-Bold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraBold";
  src: url("fonts/Akrobat-ExtraBold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraLight";
  src: url("fonts/Akrobat-ExtraLight.otf");
}
@font-face {
  font-family: "Akrobat-Light";
  src: url("fonts/Akrobat-Light.otf"), url("fonts/Akrobat-Light.eot") format("embedded-opentype"), url("fonts/Akrobat-Light.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Regular";
  src: url("fonts/Akrobat-Regular.otf"), url("fonts/Akrobat-Regular.eot") format("embedded-opentype"), url("fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-SemiBold";
  src: url("fonts/Akrobat-SemiBold.otf");
}
@font-face {
  font-family: "Akrobat-Thin";
  src: url("fonts/Akrobat-Thin.otf");
}
@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf");
}
@font-face {
  font-family: "GothamProBlack";
  src: url("fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
}
@font-face {
  font-family: "GothamProBold";
  src: url("fonts/GothamProBold/GothamProBold.woff") format("woff"), url("fonts/GothamProBold/GothamProBold.ttf") format("truetype"), url("fonts/GothamProBold/GothamProBold.eot") format("embedded-opentype"), url("fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProRegular";
  src: url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype"), url("fonts/GothamProRegular/GothamProRegular.eot") format("embedded-opentype"), url("fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProLight";
  src: url("fonts/GothamProLight/GothamProLight.woff") format("woff"), url("fonts/GothamProLight/GothamProLight.ttf") format("truetype"), url("fonts/GothamProLight/GothamProLight.eot") format("embedded-opentype"), url("fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProMedium";
  src: url("fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("fonts/GothamProMedium/GothamProMedium.ttf") format("truetype"), url("fonts/GothamProMedium/GothamProMedium.eot") format("embedded-opentype"), url("fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype");
}
.tittleAboutAu {
  text-align: center;
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.blockGrayText--border {
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 30px;
}
.blockGrayText__text {
  max-width: 970px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #acacac;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 20px;
  font-style: italic;
  padding: 20px 0 ;
}
.blocAboutAs-1__text {
  color: #141d22;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 20px;
  margin-bottom: 28px;
}
.blocAboutAs-1__text span {
  font-family: "Akrobat-Bold", sans-serif;
}
.blocAboutAs-1__img img {
  width: 100%;
  margin-bottom: 35px;
}
.aboutAsLeftImg,
.aboutAsImgLeft {
  width: 100%;
}
.aboutAsTextRight p {
  max-width: 372px;
  color: #141d22;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 20px;
  float: right;
  text-align: justify;
  margin-right: 60px;
  margin-top: 60px;
}
.row--mar {
  margin-top: 60px;
  margin-bottom: 100px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c7c7c7;
}
.aboutAsTextLeft p {
  max-width: 410px;
  color: #141d22;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 20px;
  margin-bottom: 26px;
}
.aboutAsTextLeft .aboutAsTextLeft__phone {
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 20px;
}
@media screen and (max-width: 992px) {
  .aboutAsTextRight p,
  .aboutAsTextLeft p {
    max-width: 100%;
    text-align: center;
    margin-right: 0;
  }
  .row--mar {
    padding-bottom: 0;
    border: none;
  }
}
