@import "../variables";

.blogItem{
  margin-bottom: 50px;
  a{
    .blogItem__img{
      img{
        width: 100%;
        margin-bottom: 25px;
        transition: box-shadow .2s;
      }
    }
    .blogItem__tittle{
      color: @colorText;
      font-family: @abold;
      font-size: @f20;
      text-transform: uppercase;
      margin-bottom: 20px;
      transition:color .2s;
    }
    .blogItem__text{
      color: @colorText;
      font-family: @alig;
      font-size: @f20;
    }

    time{
      color: #d5d5d5;
      font-family: @alig;
      font-size: @f20;
    }
    &:hover,
    &:active,
    &:focus{
      text-decoration: none;
      img{
        box-shadow: 0 0 10px rgba(24, 24, 24, 0.2);
      }
      .blogItem__tittle{
        color:@feol;
      }
    }
  }
}
.blocAdd--blog{
  .addItem{
    padding: 14px 50px;
    max-width: 222px;
    margin-bottom: 30px;
  }
}
