@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf"), url("fonts/Akrobat-Black.eot") format("embedded-opentype"), url("fonts/Akrobat-Black.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Bold";
  src: url("fonts/Akrobat-Bold.eot"), url("fonts/Akrobat-Bold.woff") format("woff"), url("fonts/Akrobat-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/Akrobat-Bold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraBold";
  src: url("fonts/Akrobat-ExtraBold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraLight";
  src: url("fonts/Akrobat-ExtraLight.otf");
}
@font-face {
  font-family: "Akrobat-Light";
  src: url("fonts/Akrobat-Light.otf"), url("fonts/Akrobat-Light.eot") format("embedded-opentype"), url("fonts/Akrobat-Light.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Regular";
  src: url("fonts/Akrobat-Regular.otf"), url("fonts/Akrobat-Regular.eot") format("embedded-opentype"), url("fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-SemiBold";
  src: url("fonts/Akrobat-SemiBold.otf");
}
@font-face {
  font-family: "Akrobat-Thin";
  src: url("fonts/Akrobat-Thin.otf");
}
@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf");
}
@font-face {
  font-family: "GothamProBlack";
  src: url("fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
}
@font-face {
  font-family: "GothamProBold";
  src: url("fonts/GothamProBold/GothamProBold.woff") format("woff"), url("fonts/GothamProBold/GothamProBold.ttf") format("truetype"), url("fonts/GothamProBold/GothamProBold.eot") format("embedded-opentype"), url("fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProRegular";
  src: url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype"), url("fonts/GothamProRegular/GothamProRegular.eot") format("embedded-opentype"), url("fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProLight";
  src: url("fonts/GothamProLight/GothamProLight.woff") format("woff"), url("fonts/GothamProLight/GothamProLight.ttf") format("truetype"), url("fonts/GothamProLight/GothamProLight.eot") format("embedded-opentype"), url("fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProMedium";
  src: url("fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("fonts/GothamProMedium/GothamProMedium.ttf") format("truetype"), url("fonts/GothamProMedium/GothamProMedium.eot") format("embedded-opentype"), url("fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype");
}
.slicSliderCategory .wrapCategoriesItem:hover .bloc-text {
  height: 180px;
}
.blockTittle {
  position: relative;
  box-shadow: 0 1px 10px rgba(112, 107, 108, 0.5);
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right, #b0dbe2 0%, #e2c1b8 100%);
  overflow: hidden;
}
.safari .wrapMainBloc {
  background: url("../../img/imgBg2.png") no-repeat;
  background-size: cover;
}
.blockTittlLine {
  position: relative;
  z-index: 2;
  display: block;
  max-width: 460px;
  height: 1px;
  background: white;
  margin: 0 auto;
}
.blockTittlLine__bold {
  display: block;
  width: 50px;
  height: 3px;
  margin: 90px auto 0;
  background: white;
}
.blockTittle__h1 {
  position: relative;
  max-width: 460px;
  text-align: center;
  margin: 20px auto 70px;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 40px;
  color: white;
  z-index: 2;
  text-transform: uppercase;
}
.blockTittle__h1 span {
  font-family: "Akrobat-Bold", sans-serif;
}
.blockTittle__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.bredcrums__ul {
  padding-top: 90px;
  padding-bottom: 50px;
}
.bredcrums__ul li {
  display: inline-block;
  padding-right: 20px;
}
.bredcrums__ul li:last-child {
  padding-right: 0;
}
.bredcrums__ul li a {
  font-family: "GothamProBold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #141d22;
  transition: color .2s;
}
.bredcrums__ul li a i {
  padding-left: 20px;
}
.bredcrums__ul li a:hover,
.bredcrums__ul li a:active,
.bredcrums__ul li a:focus {
  color: #bf1184;
  text-decoration: none;
}
.bredcrums__ul li a:hover i,
.bredcrums__ul li a:active i,
.bredcrums__ul li a:focus i {
  color: #141d22;
}
.bredcrums__ul li .bredcrums__active {
  color: #bf1184;
}
.disp {
  display: inline-block;
}
.disp .wrapCategoriesItem {
  width: 280px;
}
.noPad {
  padding: 0;
}
.noPad a .wrapCategoriesItem {
  width: 100%;
}
.slip-pad {
  padding: 0 15px;
}
.disp:hover {
  text-decoration: none;
}
.disp:hover .wrapCategoriesItem__mask,
.disp:hover .itemLinearHover {
  opacity: 1;
}
.disp:hover .wrapCategoriesItem__text {
  text-decoration: none;
}
.disp:hover .bloc-text {
  background: rgba(226, 193, 184, 0.3);
}
.disp:hover .wrapCategoriesItem__btn {
  background: black;
  color: white;
}
.wrapCategoriesItem__img {
  opacity: .6;
}
.slicSliderCategory {
  margin-bottom: 170px;
}
.slicSliderCategory .slick-dots {
  top: 1755px;
  left: -36px;
  right: auto;
}
.slicSliderCategory .prew1 {
  position: absolute;
  top: 1740px;
  right: auto;
  left: 70px;
}
.slicSliderCategory .next1 {
  position: absolute;
  top: 1740px;
  right: auto;
  left: 135px;
}
.wrapCategoriesItem__text--font {
  font-size: 24px;
  padding: 40px 0 14px 0;
}
.bloc-text--border {
  border-left: 1px solid #c7c7c7;
}
.bloc-text--bordeL {
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
}
.bloc-text--bordeLast {
  border-left: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}
.bloc-text--bordeLast2 {
  border-right: 1px solid #c7c7c7;
  border-left: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}
@media screen and (max-width: 1500px) {
  .blockTittle__img {
    opacity: .4;
  }
}
@media screen and (max-width: 1200px) {
  .slicSliderCategory .next1,
  .slicSliderCategory .prew1 {
    top: 1570px;
  }
  .slicSliderCategory .slick-dots {
    top: 1585px;
  }
}
@media all and (max-width: 992px) {
  .blockTittle__img,
  .slicSliderCategory .slick-dots,
  .slicSliderCategory .next1,
  .slicSliderCategory .prew1 {
    display: none;
  }
  .noPad {
    text-align: center;
  }
  .disp {
    max-height: 100%;
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  .noPad a .wrapCategoriesItem {
    width: 280px;
  }
  .blockTittlLine__bold {
    margin: 70px auto 0;
  }
}
