@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf"), url("fonts/Akrobat-Black.eot") format("embedded-opentype"), url("fonts/Akrobat-Black.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Bold";
  src: url("fonts/Akrobat-Bold.eot"), url("fonts/Akrobat-Bold.woff") format("woff"), url("fonts/Akrobat-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/Akrobat-Bold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraBold";
  src: url("fonts/Akrobat-ExtraBold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraLight";
  src: url("fonts/Akrobat-ExtraLight.otf");
}
@font-face {
  font-family: "Akrobat-Light";
  src: url("fonts/Akrobat-Light.otf"), url("fonts/Akrobat-Light.eot") format("embedded-opentype"), url("fonts/Akrobat-Light.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Regular";
  src: url("fonts/Akrobat-Regular.otf"), url("fonts/Akrobat-Regular.eot") format("embedded-opentype"), url("fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-SemiBold";
  src: url("fonts/Akrobat-SemiBold.otf");
}
@font-face {
  font-family: "Akrobat-Thin";
  src: url("fonts/Akrobat-Thin.otf");
}
@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf");
}
@font-face {
  font-family: "GothamProBlack";
  src: url("fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
}
@font-face {
  font-family: "GothamProBold";
  src: url("fonts/GothamProBold/GothamProBold.woff") format("woff"), url("fonts/GothamProBold/GothamProBold.ttf") format("truetype"), url("fonts/GothamProBold/GothamProBold.eot") format("embedded-opentype"), url("fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProRegular";
  src: url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype"), url("fonts/GothamProRegular/GothamProRegular.eot") format("embedded-opentype"), url("fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProLight";
  src: url("fonts/GothamProLight/GothamProLight.woff") format("woff"), url("fonts/GothamProLight/GothamProLight.ttf") format("truetype"), url("fonts/GothamProLight/GothamProLight.eot") format("embedded-opentype"), url("fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProMedium";
  src: url("fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("fonts/GothamProMedium/GothamProMedium.ttf") format("truetype"), url("fonts/GothamProMedium/GothamProMedium.eot") format("embedded-opentype"), url("fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype");
}
.blocLinearFillter {
  max-width: 400px;
  width: 100%;
  height: 1px;
  background: #c7c7c7;
  margin-bottom: 40px;
}
.blocLinearFillter__bold {
  width: 50px;
  height: 3px;
  background: black;
}
.blocPriceNumber__name {
  display: inline-block;
  padding-right: 6px;
  color: #141d22;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
.blocPriceNumber__ot {
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 20px;
  padding: 0 5px;
}
.blocPriceNumber__inp {
  outline: none;
  width: 60px;
  height: 21px;
  background-color: #f1f1f1;
  padding-left: 3px;
  color: #b6b6b6;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 16px;
  border: none;
}
.blocPriceNumber__inp:active,
.blocPriceNumber__inp:focus {
  background: white;
  border: 1px solid #f1f1f1;
}
.polzun {
  margin: 30px 0;
}
.polzun .ui-widget-content {
  max-width: 400px;
  width: 100%;
  height: 3px;
  border: none;
  background: black;
}
.polzun .ui-widget-header {
  background: #bf1184;
}
.polzun .ui-slider-handle {
  width: 11px;
  height: 11px;
  background: #bf1184;
  color: #bf1184;
  border: none;
  border-radius: 0;
}
.blocPriceNumber__resPrice {
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 20px;
  padding: 0 5px;
  padding: 0;
  margin-bottom: 40px;
}
.blocPriceNumber__name--mar {
  margin-bottom: 30px;
}
.blockBrands .jq-selectbox {
  background: #f1f1f1 url("../img/nextselect.png") no-repeat 92% center;
  display: block;
  max-width: 340px;
  width: 100%;
  height: 41px;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
  cursor: pointer;
}
.blockBrands .jq-selectbox__select-text {
  padding-top: 6px;
  padding-left: 25px;
  width: 200px !important;
}
.blockBrands .jq-selectbox__dropdown {
  width: 100%;
  background: #f1f1f1;
}
.blockBrands .jq-selectbox__dropdown li {
  padding-left: 25px;
}
.blockBrands .jq-selectbox__dropdown li:hover {
  background: #141d22;
  color: white;
}
.sidebarNav {
  padding-left: 25px;
}
.sidebarNav li {
  padding-bottom: 15px;
}
.sidebarNav li a {
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 20px;
  transition: color .2s;
}
.sidebarNav li a:hover,
.sidebarNav li a:active,
.sidebarNav li a:focus {
  text-decoration: none;
  color: #bf1184;
}
.addNavSidebar {
  cursor: pointer;
  width: 31px;
  height: 31px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-left: 25px;
  margin-bottom: 35px;
  margin-top: 15px;
  transition: left 1.2s, border-radius 0.5s;
}
.addNavSidebar span {
  transition: transform .5s;
}
.trans {
  transform: rotate(45deg);
}
.pos {
  position: absolute;
  left: -25px;
  border-radius: 100px;
}
.sidebarNav2,
.sidebarFilter {
  display: none;
}
.searchSidebar input {
  color: #939393;
  font-family: "GothamProRegular", sans-serif;
  font-size: 16px;
  text-align: center;
  max-width: 340px;
  width: 100%;
  height: 41px;
  border: none;
  background: #f1f1f1 url("../img/search.png") no-repeat 90% center;
  margin-bottom: 30px;
}
.bannerSidebar {
  display: block;
}
.wrapImgBanner {
  position: relative;
  max-width: 375px;
  max-height: 375px;
  width: 100%;
  height: 100%;
}
.wrapImgBanner img {
  width: 100%;
}
.wrapImgBanner .wrapImgNews__maskBanner {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 375px;
  max-height: 375px;
  width: 100%;
  height: 100%;
  border: 15px solid rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: opacity .3s;
}
.wrapImgBanner:hover .wrapImgNews__maskBanner {
  opacity: 1;
}
.wrapImgBanner--mar {
  margin-bottom: 45px;
}
.mainBanner {
  max-width: 710px;
  width: 100%;
  max-height: 200px;
}
.mainBanner img {
  width: 100%;
}
.mainFiltr {
  margin-top: 60px;
  max-width: 710px;
}
.tittleFilter {
  display: inline-block;
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
.selectMainFiltr {
  float: right;
}
.selectMainFiltr .jq-selectbox__select {
  width: 290px;
  height: 41px;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  background: #f1f1f1 url(../img/nextselect.png) no-repeat 92% center;
  cursor: pointer;
}
.selectMainFiltr .jq-selectbox__select-text {
  padding-top: 6px;
  padding-left: 20px;
}
.selectMainFiltr .jq-selectbox__dropdown {
  width: 100%;
  background: #f1f1f1;
}
.selectMainFiltr .jq-selectbox li,
.selectMainFiltr .jq-select-multiple li {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 25px;
  cursor: pointer;
}
.selectMainFiltr .jq-selectbox li:hover,
.selectMainFiltr .jq-select-multiple li:hover {
  color: white;
  background: #141d22;
}
.bottomMainFiltr__left {
  display: inline-block;
}
.bottomMainFiltr__left p {
  display: inline-block;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 20px;
  margin-right: 35px;
}
.bottomMainFiltr__left p:last-child {
  margin-right: 0;
}
.bottomMainFiltr__left p span {
  cursor: pointer;
  display: inline-block;
  background: url("/catalog/view/theme/denis_shop/image/common/close.png") no-repeat;
  width: 13px;
  height: 13px;
  margin-left: 7px;
}
.bottomMainFiltr__right {
  display: inline-block;
  float: right;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 20px;
}
.bottomMainFiltr__right span {
  cursor: pointer;
  display: inline-block;
  background: url("/catalog/view/theme/denis_shop/image/common/close.png") no-repeat;
  width: 13px;
  height: 13px;
  margin-left: 7px;
}
.bottomMainFiltr {
  margin-bottom: 40px;
}
.items {
  max-width: 565px;
}
.items .sliderCategories {
  margin-bottom: 28px;
}
.items .wrap-img {
  text-align: center;
}
.items .wrapAItem {
  left: 14px;
}
.addItem {
  color: white;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
  padding: 15px 45px;
  background-color: #141d22;
  transition: background-color 0.2s, color 0.2s;
  max-width: 134px;
  display: block;
  margin: 15px auto;
}
.addItem:hover,
.addItem:active,
.addItemfocus {
  color: white;
  text-decoration: none;
  background-color: #bf1184;
}
.slicPopular .itemA .wrap-img {
  text-align: center;
}
.slicPopular .wrapAItem {
  left: 14px;
}
.filterOpen {
  color: white;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
  padding: 15px 45px;
  background-color: #141d22;
  transition: background-color 0.2s, color 0.2s;
  max-width: 134px;
  display: block;
  margin: 15px auto;
  display: none;
  max-width: 186px;
  position: relative;
  border: none;
  padding: 10px 45px;
}
.filterOpen:hover,
.filterOpen:active,
.filterOpenfocus {
  color: white;
  text-decoration: none;
  background-color: #bf1184;
}
.filterOpen span {
  transition: transform .7s;
  font-size: 20px;
  top: 7px;
  position: absolute;
  right: 18px;
}
.filterOpSpan {
  transform: rotate(45deg);
}
.wrapItemIt {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  display: none;
}
.wrapItemIt .bloc-text {
  height: auto;
  overflow: visible;
}
.wrapCategoriesItem {
  z-index: 9;
}
.wrapCategoriesItem:hover .wrapItemIt {
  display: block;
}
.items .sliderCategories {
  margin-bottom: 70px;
}
.items .sliderCategories {
  padding-bottom: 0;
}
@media screen and (max-width: 1200px) {
  .items .sliderCategories {
    width: 105%;
  }
}
@media screen and (max-width: 992px) {
  .filterOpen,
  .blocPriceNumber__name--mar {
    display: block;
  }
  .aside,
  .sidebarBanners {
    display: none;
  }
  .items {
    margin: 0 auto;
  }
  .items .Item {
    width: 300px;
    margin: 0 auto;
  }
  .items .wrapCategoriesItem {
    width: 100%;
  }
}
@media screen and (max-width: 620px) {
  .tittleFilter {
    display: block;
    margin-bottom: 20px;
  }
  .selectMainFiltr {
    float: none;
  }
  .bottomMainFiltr__right {
    display: block;
    float: none;
  }
  .slicPopular {
    width: 288px;
    margin: 0 auto;
  }
  .items .sliderCategories {
    width: 100%;
  }
  .items .Item {
    width: 288px;
    margin: 0 auto;
  }
}
