@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf"), url("fonts/Akrobat-Black.eot") format("embedded-opentype"), url("fonts/Akrobat-Black.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Bold";
  src: url("fonts/Akrobat-Bold.eot"), url("fonts/Akrobat-Bold.woff") format("woff"), url("fonts/Akrobat-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/Akrobat-Bold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraBold";
  src: url("fonts/Akrobat-ExtraBold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraLight";
  src: url("fonts/Akrobat-ExtraLight.otf");
}
@font-face {
  font-family: "Akrobat-Light";
  src: url("fonts/Akrobat-Light.otf"), url("fonts/Akrobat-Light.eot") format("embedded-opentype"), url("fonts/Akrobat-Light.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Regular";
  src: url("fonts/Akrobat-Regular.otf"), url("fonts/Akrobat-Regular.eot") format("embedded-opentype"), url("fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-SemiBold";
  src: url("fonts/Akrobat-SemiBold.otf");
}
@font-face {
  font-family: "Akrobat-Thin";
  src: url("fonts/Akrobat-Thin.otf");
}
@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf");
}
@font-face {
  font-family: "GothamProBlack";
  src: url("fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
}
@font-face {
  font-family: "GothamProBold";
  src: url("fonts/GothamProBold/GothamProBold.woff") format("woff"), url("fonts/GothamProBold/GothamProBold.ttf") format("truetype"), url("fonts/GothamProBold/GothamProBold.eot") format("embedded-opentype"), url("fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProRegular";
  src: url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype"), url("fonts/GothamProRegular/GothamProRegular.eot") format("embedded-opentype"), url("fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProLight";
  src: url("fonts/GothamProLight/GothamProLight.woff") format("woff"), url("fonts/GothamProLight/GothamProLight.ttf") format("truetype"), url("fonts/GothamProLight/GothamProLight.eot") format("embedded-opentype"), url("fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProMedium";
  src: url("fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("fonts/GothamProMedium/GothamProMedium.ttf") format("truetype"), url("fonts/GothamProMedium/GothamProMedium.eot") format("embedded-opentype"), url("fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype");
}
#callBacOpen2 {
  height: 180px;
}
.tittlePage {
  padding: 50px;
  font-family: "Akrobat-SemiBold", sans-serif;
  font-size: 40px;
  text-align: center;
  color: #141d22;
  text-transform: uppercase;
}
.blocRegister--border {
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;
  height: auto;
  border: 3px solid #e6e6e6;
}
.formRegister__tittle {
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #141d22;
  padding: 50px 0 20px 0;
  margin-bottom: 0;
}
.blockLineRed {
  width: 100%;
  max-width: 340px;
  height: 1px;
  background: #c7c7c7;
}
.blockLineRed--margin {
  display: block;
  margin-bottom: 30px;
}
.blockLineRed__boldLeft {
  background: #ea375c;
  width: 50px;
  height: 3px;
}
.formRegister__inpForm {
  border: 1px solid transparent;
  margin-bottom: 30px;
  padding-left: 30px;
  outline: none;
  background: #f1f1f1;
  height: 41px;
  max-width: 340px;
  width: 100%;
  color: #626262;
  font-size: 18px;
  font-family: "Akrobat-Light", sans-serif;
}
.formRegister__inpForm:active,
.formRegister__inpForm:focus {
  background: white;
  border: 1px solid #b2b2b2;
}
.formRegister__inpForm--select {
  padding-left: 0;
  cursor: pointer;
}
.formRegister__inpForm--select .jq-selectbox__select-text {
  text-align: center;
  padding-top: 5px;
  background: url("../img/select.png") no-repeat right;
  background-position: 290px 7px;
}
.formRegister__inpForm--select .jq-selectbox__dropdown {
  max-width: 340px;
  width: 100%;
  height: auto;
  top: 35px;
}
.formRegister__inpForm--select .jq-selectbox__dropdown ul {
  text-align: center;
  background: white;
  border: 1px solid #b2b2b2;
}
.formRegister__inpForm--select .jq-selectbox__dropdown ul li {
  display: block;
  padding: 5px 0;
}
.formRegister__inpForm--select .jq-selectbox__dropdown ul li:hover {
  background: #b2b2b2;
  color: white;
}
.formRegister__inpForm--home {
  max-width: 150px;
  display: inline-block;
}
.formRegister__inpForm--mar {
  margin-right: 40px;
}
.formRegister__inpForm--none {
  display: none;
}
.formRegister__chec {
  width: 20px;
  height: 20px;
  border: 1px solid #b2b2b2;
  background-color: #ffffff;
}
.checked {
  background: url("/catalog/view/theme/denis_shop/image/common/chec.png") no-repeat center;
}
.labelChec {
  font-family: "Akrobat-Light", sans-serif;
  color: #626262;
  font-size: 14px;
  vertical-align: top;
  cursor: pointer;
  padding-left: 10px;
}
.formRegister__sub {
  margin-top: 45px;
  max-width: 340px;
  width: 100%;
  height: 41px;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
  color: #141d22;
  text-transform: uppercase;
  background: none;
  border: 2px solid #141d22;
  transition: border .2s, color .2s, background .2s;
}
.formRegister__sub:hover,
.formRegister__sub:active,
.formRegister__sub:focus {
  color: white;
  background: black;
  border: 1px solid white;
}
.wrap-select {
  max-width: 340px;
  width: 100%;
  height: 41px;
  margin-bottom: 30px;
}
.textBottomForm {
  max-width: 1110px;
  margin: 25px auto 200px;
  text-align: center;
  color: #b5b5b5;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
}
.dateAge {
  background: #f1f1f1 url("../img/time.png") no-repeat;
  background-position: 300px 12px;
  cursor: pointer;
}
.dateAge:active,
.dateAge:focus {
  background: url("../img/time.png") no-repeat;
  background-position: 300px 12px;
}
.datepicker--pointer {
  display: none;
}
.datepickers-container {
  width: 340px;
  top: -10px;
}
.datepicker {
  width: 100%;
  border-radius: 0;
}
.datepicker--nav {
  background: #b0b0b0;
}
.datepicker--content {
  background: #f1f1f1;
}
.datepicker--body {
  width: 220px;
  margin: 0 auto;
}
.datepicker--cells-days div {
  background: white;
  margin: 1px;
  border-radius: 0;
}
.datepicker--day-name {
  color: black;
  background: transparent;
}
.datepicker--days-names {
  width: 200px;
}
.datepicker--cell.-current- {
  color: black;
}
.datepicker--cell.-selected- {
  color: white;
  background: #ea4064;
}
.blockEmail__callbac {
  text-align: center;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  color: #626262;
  padding: 25px 0 10px 0;
}
.blockEmail__callbac a {
  color: #ea375c;
  text-decoration: underline;
}
.blockEmail__callbac a:hover,
.blockEmail__callbac a:active,
.blockEmail__callbac a:focus {
  color: #ea375c;
  text-decoration: none;
}
.blockEmail__wrapCallbec {
  text-align: center;
  padding-bottom: 30px;
}
.blockEmail__wrapCallbec a {
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
}
.blockEmail__wrapCallbec a:hover,
.blockEmail__wrapCallbec a:active,
.blockEmail__wrapCallbec a:focus {
  color: white;
  text-decoration: underline;
}
.blockEmail__tittleSocial--light {
  font-family: "Akrobat-Light", sans-serif;
}
@media screen and (max-width: 1200px) {
  .dateAge {
    background-position: 250px 12px;
  }
  .datepickers-container {
    width: 290px;
  }
  .formRegister__inpForm--select .jq-selectbox__select-text {
    background-position: 250px 7px;
  }
  .formRegister__inpForm--mar {
    margin-right: 0;
  }
  .formRegister__inpForm--home {
    max-width: 144px;
  }
  .labelChec {
    padding-left: 2px;
  }
}
@media screen and (max-width: 992px) {
  .wrap-select {
    margin: 0 auto 30px;
  }
  .blockLineRed {
    max-width: 100%;
  }
  .formRegister__inpForm {
    display: block;
    margin: 0 auto 30px;
  }
  .textBottomForm {
    padding: 0 10px;
  }
  .dateAge {
    background-position: 300px 12px;
  }
  .datepickers-container {
    width: 340px;
  }
  .formRegister__inpForm--select .jq-selectbox__select-text {
    background-position: 290px 7px;
    width: auto!important;
  }
  .formRegister__inpForm--home {
    display: block;
    max-width: 340px;
  }
  .formRegister__sub {
    display: block;
    margin: 25px auto;
  }
  .wrapChec {
    text-align: center;
  }
}
@media all and (max-width: 380px) {
  .dateAge {
    background-position: 90% 12px;
  }
  .formRegister__inpForm--select .jq-selectbox__select-text {
    background-position: 95% 7px;
  }
}
