@import "../variables";

.blocLinearFillter {
  max-width: 400px;
  width: 100%;
  height: 1px;
  background: #c7c7c7;
  margin-bottom: 40px;
}

.blocLinearFillter__bold {
  width: 50px;
  height: 3px;
  background: black;
}

.blocPriceNumber__name {
  display: inline-block;
  padding-right: 6px;
  color: @colorText;
  font-family: @alig;
  font-size: @f30;
  text-transform: uppercase;
}

.blocPriceNumber__ot {
  color: @text-grey;
  font-family: @alig;
  font-size: @f20;
  padding: 0 5px;
}

.blocPriceNumber__inp {
  outline: none;
  width: 60px;
  height: 21px;
  background-color: #f1f1f1;
  padding-left: 3px;
  color: #b6b6b6;
  font-family: @alig;
  font-size: @f16;
  border: none;
  &:active,
  &:focus {
    background: white;
    border: 1px solid #f1f1f1;

  }
}

.polzun {
  margin: 30px 0;
  .ui-widget-content {
    max-width: 400px;
    width: 100%;
    height: 3px;
    border: none;
    background: black;
  }
  .ui-widget-header {
    background: #bf1184;
  }
  .ui-slider-handle {
    width: 11px;
    height: 11px;
    background: #bf1184;
    color: #bf1184;
    border: none;
    border-radius: 0;
  }
}

.blocPriceNumber__resPrice {
  .blocPriceNumber__ot;
  padding: 0;
  margin-bottom: 40px;
}

.blocPriceNumber__name--mar {
  margin-bottom: 30px;
}

.blockBrands {
  .jq-selectbox {
    background: #f1f1f1 url("/../../img/nextselect.png") no-repeat 92% center;
    display: block;
    max-width: 340px;
    width: 100%;
    height: 41px;
    color: @text-grey;
    font-family: @alig;
    font-size: @f18;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .jq-selectbox__select-text {
    padding-top: 6px;
    padding-left: 25px;
    width: 200px !important;
  }
  .jq-selectbox__dropdown {
    width: 100%;
    background: #f1f1f1;
    li {
      padding-left: 25px;
      &:hover {
        background: @colorText;
        color: white;
      }
    }
  }
}

.sidebarNav {
  padding-left: 25px;
  li {
    padding-bottom: 15px;
    a {
      color: @text-grey;
      font-family: @alig;
      font-size: @f20;
      transition: color .2s;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color: #bf1184;
      }
    }
  }
}

.addNavSidebar {
  cursor: pointer;
  width: 31px;
  height: 31px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-left: 25px;
  margin-bottom: 35px;
  margin-top: 15px;
  transition: left 1.2s, border-radius .5s;
  span {
    transition: transform .5s;
  }
}

.trans {
  transform: rotate(45deg);
}

.pos {
  position: absolute;
  left: -25px;
  border-radius: 100px;
}

.sidebarNav2,
.sidebarFilter {
  display: none;
}

.searchSidebar {
  input {
    color: #939393;
    font-family: @greg;
    font-size: @f16;
    text-align: center;
    max-width: 340px;
    width: 100%;
    height: 41px;
    border: none;
    background: #f1f1f1 url("/../../img/search.png") no-repeat 90% center;
    margin-bottom: 30px;
  }
}

.bannerSidebar {
  display: block;
}

.wrapImgBanner {
  position: relative;
  max-width: 375px;
  max-height: 375px;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
  }
  .wrapImgNews__maskBanner {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 375px;
    max-height: 375px;
    width: 100%;
    height: 100%;
    border: 15px solid rgba(255, 255, 255, .8);
    opacity: 0;
    transition: opacity .3s;

  }
  &:hover {
    .wrapImgNews__maskBanner {
      opacity: 1;
    }
  }
}

.wrapImgBanner--mar {
  margin-bottom: 45px;
}

.mainBanner {
  max-width: 710px;
  width: 100%;
  max-height: 200px;
  img {
    width: 100%;
  }
}

.mainFiltr {
  margin-top: 60px;
  max-width: 710px;
}

.tittleFilter {
  display: inline-block;
  color: @colorText;
  font-family: @abold;
  font-size: @f30;
  text-transform: uppercase;
}

.selectMainFiltr {
  float: right;
  .jq-selectbox__select {
    width: 290px;
    height: 41px;
    color: #626262;
    font-family: @alig;
    font-size: 18px;
    background: #f1f1f1 url(/../../img/nextselect.png) no-repeat 92% center;
    cursor: pointer;
  }
  .jq-selectbox__select-text {
    padding-top: 6px;
    padding-left: 20px;
  }
  .jq-selectbox__dropdown {
    width: 100%;
    background: #f1f1f1;
  }

  .jq-selectbox li, .jq-select-multiple li {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 25px;
    cursor: pointer;
    &:hover {
      color: white;
      background: @colorText;
    }
  }
}

.bottomMainFiltr__left {
  display: inline-block;
  p {
    display: inline-block;
    color: @text-grey;
    font-family: @alig;
    font-size: @f20;
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
    span {
      cursor: pointer;
      display: inline-block;
      background: url("/../../img/close.png") no-repeat;
      width: 13px;
      height: 13px;
      margin-left: 7px;
    }
  }
}

.bottomMainFiltr__right {
  display: inline-block;
  float: right;
  color: @text-grey;
  font-family: @alig;
  font-size: @f20;
  span {
    cursor: pointer;
    display: inline-block;
    background: url("/../../img/close.png") no-repeat;
    width: 13px;
    height: 13px;
    margin-left: 7px;
  }
}

.bottomMainFiltr {
  margin-bottom: 40px;
}

.items {
  max-width: 565px;
  .sliderCategories {
    margin-bottom: 28px;
  }
  .wrap-img {
    text-align: center;
  }
  .wrapAItem {
    left: 14px;
  }
}

.addItem {
  color: @whitet;
  font-family: @gbold;
  font-size: @f14;
  padding: 15px 45px;
  background-color: #141d22;
  transition: background-color .2s, color .2s;
  max-width: 134px;
  display: block;
  margin: 15px auto;
  &:hover,
  &:active,
  &focus{
    color:white;
    text-decoration: none;
    background-color:@feol;
  }
}
.slicPopular{
  .itemA .wrap-img{
    text-align: center;
  }
  .wrapAItem{
    left: 14px;
  }
}
.filterOpen{
  .addItem;
  display: none;
  max-width: 186px;
  position: relative;
  border: none;
  padding: 10px 45px;
 span{
   transition:transform .7s;
   font-size: 20px;
   top: 7px;
   position: absolute;
   right: 18px;
 }
}
.filterOpSpan {
  transform: rotate(45deg);
}
.wrapItemIt{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  display: none;
  .bloc-text{
    height: auto;
    overflow: visible;
  }
}
.wrapCategoriesItem{
  z-index: 9;
  &:hover{
    .wrapItemIt{
      display: block;
    }
  }
}
.items .sliderCategories{
  margin-bottom: 70px;
}
.items{
  .sliderCategories {
    padding-bottom: 0;
  }

}
@media screen and (max-width: 1200px){
  .items{
    .sliderCategories{
      width: 105%;
    }
  }
}
@media screen and (max-width: 992px){
  .filterOpen,
  .blocPriceNumber__name--mar{
    display: block;
  }
  .aside,
  .sidebarBanners{
    display: none;
  }
  .items{
    margin: 0 auto;
    .Item{
      width: 300px;
      margin: 0 auto;
    }
    .wrapCategoriesItem{
      width: 100%;
    }
  }
}
@media screen and (max-width: 620px){
  .tittleFilter{
    display: block;
    margin-bottom: 20px;
  }
  .selectMainFiltr{
    float:none;
  }
  .bottomMainFiltr__right{
    display: block;
    float: none;
  }
  .slicPopular{
    width: 288px;
    margin: 0 auto;
  }
  .items .sliderCategories {
    width: 100%;
  }
  .items .Item {
    width: 288px;
    margin: 0 auto;
  }
}
