@import "../variables";
#callBacOpen2{
  height: 180px;
}
.tittlePage {
  padding: 50px;
  font-family: @asemi;
  font-size: @f40;
  text-align: center;
  color: @colorText;
  text-transform: uppercase;
}

.blocRegister--border {
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;
  height: auto;
  border: 3px solid #e6e6e6;
}

.formRegister__tittle {
  font-family: @abold;
  font-size: @f30;
  text-transform: uppercase;
  color: @colorText;
  padding: 50px 0 20px 0;
  margin-bottom: 0;
}

.blockLineRed {
  width: 100%;
  max-width: 340px;
  height: 1px;
  background: #c7c7c7;
}

.blockLineRed--margin {
  display: block;
  margin-bottom: 30px;
}

.blockLineRed__boldLeft {
  background: #ea375c;
  width: 50px;
  height: 3px;
}

.formRegister__inpForm {
  border: 1px solid transparent;
  margin-bottom: 30px;
  padding-left: 30px;
  outline: none;
  background: #f1f1f1;
  height: 41px;
  max-width: 340px;
  width: 100%;
  color: @text-grey;
  font-size: @f18;
  font-family: @alig;
  &:active,
  &:focus {
    background: @white;
    border: 1px solid #b2b2b2;
  }
}

.formRegister__inpForm--select {
  padding-left: 0;
  cursor: pointer;
  .jq-selectbox__select-text {
    text-align: center;
    padding-top: 5px;
    background: url("/../../img/select.png") no-repeat right;
    background-position: 290px 7px;
  }
  .jq-selectbox__dropdown {
    max-width: 340px;
    width: 100%;
    height: auto;
    top: 35px;
    ul {
      text-align: center;
      background: white;
      border: 1px solid #b2b2b2;
      li {
        display: block;
        padding: 5px 0;
        &:hover {
          background: #b2b2b2;
          color: @whitet;
        }
      }
    }
  }
}

.formRegister__inpForm--home {
  max-width: 150px;
  display: inline-block;
}

.formRegister__inpForm--mar {
  margin-right: 40px;
}

.formRegister__inpForm--none {
  display: none;
}

.formRegister__chec {
  width: 20px;
  height: 20px;
  border: 1px solid #b2b2b2;
  background-color: #ffffff;
}

.checked {
  background: url("/../../img/chec.png") no-repeat center;
}

.labelChec {
  font-family: @alig;
  color: @text-grey;
  font-size: @f14;
  vertical-align: top;
  cursor: pointer;
  padding-left: 10px;
}

.formRegister__sub {
  margin-top: 45px;
  max-width: 340px;
  width: 100%;
  height: 41px;
  font-family: @gbold;
  font-size: @f14;
  color: @colorText;
  text-transform: uppercase;
  background: none;
  border: 2px solid #141d22;
  transition: border .2s, color .2s, background .2s;
  &:hover,
  &:active,
  &:focus {
    color: @whitet;
    background: black;
    border: 1px solid white;
  }
}
.wrap-select{
  max-width: 340px;
  width: 100%;
  height: 41px;
  margin-bottom: 30px;
}
.textBottomForm{
  max-width: 1110px;
  margin: 25px auto 200px;
  text-align: center;
  color: #b5b5b5;
  font-family: @alig;
  font-size: @f18;
}
.dateAge{
  background:#f1f1f1 url("/../../img/time.png")no-repeat;
  background-position: 300px 12px;
  cursor: pointer;
  &:active,
  &:focus{
    background: url("/../../img/time.png")no-repeat;
    background-position: 300px 12px;
  }
}
.datepicker--pointer{
  display: none;
}
.datepickers-container{
  width: 340px;
  top: -10px;
}
.datepicker{
  width: 100%;
  border-radius: 0;
}
.datepicker--nav{
  background:#b0b0b0;
}
.datepicker--content{
  background: #f1f1f1;
}
.datepicker--body{
  width: 220px;
  margin: 0 auto;
}
.datepicker--cells-days div{
  background: white;
  margin: 1px;
  border-radius: 0;
}
.datepicker--day-name{
  color:black;
  background: transparent;
}
.datepicker--days-names{
  width: 200px;
}
.datepicker--cell.-current-{
  color:black;
}
.datepicker--cell.-selected-{
  color: white;
  background: #ea4064;
}
.blockEmail__callbac{
  text-align: center;
  font-family: @alig;
  font-size: @f18;
  color: @text-grey;
  padding: 25px 0 10px 0;
  a{
    color: #ea375c;
    text-decoration: underline;
    &:hover,
    &:active,
    &:focus{
      color: #ea375c;
      text-decoration: none;
    }
  }
}
.blockEmail__wrapCallbec{
  text-align: center;
  padding-bottom: 30px;
  a{
    font-family: @abold;
    font-size: @f40;
    text-transform: uppercase;
    color: @whitet;
    &:hover,
    &:active,
    &:focus{
      color: @whitet;
      text-decoration: underline;
    }
  }
}
.blockEmail__tittleSocial--light{
  font-family: @alig;
}
@media screen and (max-width: 1200px){
  .dateAge{
    background-position: 250px 12px;
  }
  .datepickers-container{
    width: 290px;
  }
  .formRegister__inpForm--select .jq-selectbox__select-text{
    background-position: 250px 7px;
  }
  .formRegister__inpForm--mar{
    margin-right: 0;
  }
  .formRegister__inpForm--home{
    max-width: 144px;
  }
  .labelChec{
    padding-left: 2px;
  }
}
@media screen and (max-width: 992px){
  .wrap-select{
    margin: 0 auto 30px;
  }
  .blockLineRed{
    max-width: 100%;
  }
  .formRegister__inpForm{
    display: block;
    margin: 0 auto 30px;
  }
  .textBottomForm{
    padding: 0 10px;
  }
  .dateAge {
    background-position: 300px 12px;
  }
  .datepickers-container{
    width: 340px;
  }
  .formRegister__inpForm--select .jq-selectbox__select-text {
    background-position: 290px 7px;
    width: auto!important;
  }
  .formRegister__inpForm--home{
    display:block;
    max-width: 340px;
  }
  .formRegister__sub{
    display: block;
    margin: 25px auto;
  }
  .wrapChec{
    text-align: center;
  }
}
@media all and (max-width: 380px){
  .dateAge {
    background-position: 90% 12px;
  }
  .formRegister__inpForm--select .jq-selectbox__select-text {
    background-position: 95% 7px;
  }
}