@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf"), url("fonts/Akrobat-Black.eot") format("embedded-opentype"), url("fonts/Akrobat-Black.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Bold";
  src: url("fonts/Akrobat-Bold.eot"), url("fonts/Akrobat-Bold.woff") format("woff"), url("fonts/Akrobat-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/Akrobat-Bold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraBold";
  src: url("fonts/Akrobat-ExtraBold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraLight";
  src: url("fonts/Akrobat-ExtraLight.otf");
}
@font-face {
  font-family: "Akrobat-Light";
  src: url("fonts/Akrobat-Light.otf"), url("fonts/Akrobat-Light.eot") format("embedded-opentype"), url("fonts/Akrobat-Light.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Regular";
  src: url("fonts/Akrobat-Regular.otf"), url("fonts/Akrobat-Regular.eot") format("embedded-opentype"), url("fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-SemiBold";
  src: url("fonts/Akrobat-SemiBold.otf");
}
@font-face {
  font-family: "Akrobat-Thin";
  src: url("fonts/Akrobat-Thin.otf");
}
@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf");
}
@font-face {
  font-family: "GothamProBlack";
  src: url("fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
}
@font-face {
  font-family: "GothamProBold";
  src: url("fonts/GothamProBold/GothamProBold.woff") format("woff"), url("fonts/GothamProBold/GothamProBold.ttf") format("truetype"), url("fonts/GothamProBold/GothamProBold.eot") format("embedded-opentype"), url("fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProRegular";
  src: url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype"), url("fonts/GothamProRegular/GothamProRegular.eot") format("embedded-opentype"), url("fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProLight";
  src: url("fonts/GothamProLight/GothamProLight.woff") format("woff"), url("fonts/GothamProLight/GothamProLight.ttf") format("truetype"), url("fonts/GothamProLight/GothamProLight.eot") format("embedded-opentype"), url("fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProMedium";
  src: url("fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("fonts/GothamProMedium/GothamProMedium.ttf") format("truetype"), url("fonts/GothamProMedium/GothamProMedium.eot") format("embedded-opentype"), url("fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype");
}
.mainBlocImg {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 500px;
  height: 500px;
  border: 1px solid #b2b2b2;
}
.mainBlocImg img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: auto;
  height: auto;
  transition: all 1s ease-out;
}
.mainBlocImg:hover img {
  transform: scale(1.2);
}
.navMainSlidershow {
  padding-top: 25px;
  padding-bottom: 55px;
}
.navMainSlidershow li {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 150px;
  height: 150px;
  border: 1px solid #b2b2b2;
  transition: border .2s;
  margin-right: 21px;
}
.navMainSlidershow li:last-child {
  margin-right: 0;
}
.navMainSlidershow li:hover {
  border: 2px solid #141d22;
}
.navMainSlidershow li img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100px;
  width: auto;
  height: auto;
}
.navMainSlidershow .active {
  border: 2px solid #141d22;
}
.mainBlocImg__plus {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 31px;
  height: 31px;
  background-color: #f1f1f1;
  color: #626262;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainBlocImg__plus:hover,
.mainBlocImg__plus:active,
.mainBlocImg__plus:focus {
  text-decoration: none;
  color: #626262;
}
.blocOpItem__popular {
  font-family: "GothamProRegular", sans-serif;
  color: white;
  font-size: 14px;
  padding: 3px 5px;
  background: #2fe2ff;
}
.options__text {
  margin-bottom: 0;
  color: #b5b5b5;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
}
.options__text span {
  color: #141d22;
  padding-right: 10px;
}
.wrapLinearBlack--pad {
  margin-bottom: 20px;
}
.options__text2 {
  color: #b5b5b5;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
}
.options--border {
  border-bottom: 1px solid #c7c7c7;
}
.blocFormItem__select {
  padding-top: 14px;
  padding-bottom: 10px;
}
.blocFormItem__select label {
  color: #141d22;
  font-family: "Akrobat-Regular", sans-serif;
  font-size: 18px;
  padding-right: 10px;
  vertical-align: top;
}
.blocFormItem__select .jq-selectbox,
.blocFormItem__select select {
  color: #b6b6b6;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 16px;
  width: 83px;
  height: 21px;
  padding-left: 10px;
  background: #f1f1f1 url("../img/nextselect.png") no-repeat 90%;
  margin-top: 4px;
  cursor: pointer;
}
.blocFormItem__select .jq-selectbox__dropdown ul {
  background: #f1f1f1;
  width: 83px;
  margin: 0 auto;
  text-align: left;
  top: -2px;
  left: -10px;
}
.blocFormItem__select .jq-selectbox__dropdown ul li {
  padding-left: 10px;
}
.blocFormItem__select .jq-selectbox__dropdown ul li:hover {
  background: #141d22;
  color: white;
}
.colorItem__name {
  color: #141d22;
  font-family: "Akrobat-Regular", sans-serif;
  font-size: 18px;
  padding-right: 40px;
  vertical-align: top;
}
.colorItem__blockColor {
  position: relative;
  display: inline-block;
  background-color: #f1f1f1;
}
.colorItem__blockColor--red {
  display: inline-block;
  background: #f6161f;
  width: 20px;
  height: 20px;
  margin: 12px 8px 12px 12px;
  cursor: pointer;
}
.colorItem__blockColor--blue {
  display: inline-block;
  background: #1640f6;
  width: 20px;
  height: 20px;
  margin: 12px 8px 12px 0;
  cursor: pointer;
}
.colorItem__blockColor--green {
  display: inline-block;
  background: #65f616;
  width: 20px;
  height: 20px;
  margin: 12px 8px 12px 0;
  cursor: pointer;
}
.colorItem__blockColor--feol {
  display: inline-block;
  background: #c916f6;
  width: 20px;
  height: 20px;
  margin: 12px 8px 12px 0;
  cursor: pointer;
}
.colorItem__blockColor--yellow {
  display: inline-block;
  background: #f6ee16;
  width: 20px;
  height: 20px;
  margin: 12px 8px 12px 0;
  cursor: pointer;
}
.js-color p {
  display: none;
}
.js-colorActive {
  border: 1px solid black;
}
.colorItem__kol {
  display: inline-block;
  color: #b5b5b5;
  font-family: "Akrobat-Regular", sans-serif;
  font-size: 18px;
  padding-left: 10px;
}
.blocFormItem__color {
  display: flex;
  align-items: center;
}
.blocPrice--pad {
  padding-top: 25px;
  display: flex;
  align-items: center;
}
.blocPrice__price {
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #ea375c;
  padding-right: 60px;
}
.wrapBtn {
  position: relative;
  display: flex;
  padding-right: 40px;
}
.wrapBtn__left {
  position: absolute;
  left: -30px;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 20px;
  background: none;
  border: 1px solid #c7c7c7;
  width: 30px;
  height: 35px;
  vertical-align: top;
  text-align: center;
}
.wrapBtn__texInp {
  width: 65px;
  height: 35px;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 20px;
  background: none;
  border: none;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  text-align: center;
}
.wrapBtn__right {
  position: absolute;
  left: -30px;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 20px;
  background: none;
  border: 1px solid #c7c7c7;
  width: 30px;
  height: 35px;
  vertical-align: top;
  text-align: center;
  left: 65px;
}
.btnLike {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  background: #c7c7c7;
  transition: background .2s;
  margin-right: 20px;
  margin-left: 10px;
}
.btnLike a i {
  color: #999999;
  font-size: 20px;
  transition: color .2s;
}
.btnLike:hover {
  background: #141d22;
}
.btnLike:hover a i {
  color: white;
}
.btnAdd {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  background: #ea375c;
  border: 1px solid transparent;
  transition: background .2s, background .2s;
}
.btnAdd a {
  color: white;
  font-size: 26px;
  transition: color .2s;
}
.btnAdd:hover {
  border: 1px solid #141d22;
  background: white;
}
.btnAdd:hover a {
  color: #141d22;
  text-decoration: none;
}
.submitIte {
  margin-top: 20px;
  margin-bottom: 25px;
  color: #ffffff;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background: #141d22 url("../img/cart-.png") no-repeat 25px center;
  padding: 10px 25px 10px 55px;
  border: none;
  transition: background .2s;
}
.submitIte:hover,
.submitIte:active,
.submitIte:focus {
  background: #ea375c url("../img/cart-.png") no-repeat 25px center;
}
.formItem {
  border-bottom: 1px solid #c7c7c7;
}
.padNo {
  padding: 0;
}
.blocCategories-h2--item {
  margin-top: 12px;
  margin-bottom: 12px;
}
.wrapLinearBlack--padItem {
  margin-bottom: 12px;
}
.tab {
  display: none;
}
.activeTab {
  display: block;
}
.blockTabsTabs {
  border-bottom: 1px solid #c7c7c7;
}
.blockTabsTabs__controls {
  display: inline-block;
  padding-right: 100px;
  padding-bottom: 20px;
}
.blockTabsTabs__controls:last-child {
  padding-right: 0;
}
.blockTabsTabs__controls a {
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
}
.blockTabsTabs__controls .activeTab__linear {
  width: 50px;
  height: 3px;
  background: black;
  position: relative;
  margin: 0 auto;
  top: 23px;
  opacity: 0;
  transition: opacity .2s;
}
.blockTabsTabs__controls:hover a {
  text-decoration: none;
}
.activeTab .activeTab__linear {
  opacity: 1;
}
.tab__h1 {
  color: #141d22;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  padding: 40px 0 20px 0;
}
.whuIs__tittle {
  font-family: "Akrobat-SemiBold", sans-serif;
  font-size: 18px;
  color: #141d22;
}
.whuIs__text {
  font-family: "Akrobat-SemiBold", sans-serif;
  font-size: 18px;
  color: #141d22;
  color: #b5b5b5;
  font-family: "Akrobat-Light", sans-serif;
  margin-bottom: 30px;
}
.whuIs__ul {
  list-style-type: disc;
  padding-left: 14px;
}
.whuIs__ul li {
  color: #141d22;
  font-family: "Akrobat-Light", sans-serif;
  margin-bottom: 0;
  font-size: 12px;
}
.whuIs__ul li span {
  color: #b5b5b5;
  font-size: 18px;
  vertical-align: middle;
}
.tableItems {
  width: 100%;
  border: 1px solid #c7c7c7;
  margin-top: 50px;
  margin-bottom: 230px;
}
.tableItems tr {
  border-bottom: 1px solid #c7c7c7;
}
.tableItems tr:last-child {
  border: none;
}
.tableItems__left {
  color: #141d22;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  padding: 10px 0 10px 30px;
  max-width: 350px;
  width: 100%;
  display: block;
  border-right: 1px solid #c7c7c7;
}
.tableItems__right {
  color: #141d22;
  font-family: "Akrobat-Regular", sans-serif;
  font-size: 18px;
  padding: 10px 0 10px 30px;
  width: 70%;
}
.tab__h1--center {
  text-align: center;
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.linearCenter {
  position: relative;
  max-width: 330px;
  width: 100%;
  height: 1px;
  background: #c7c7c7;
  margin: 0 auto 50px;
}
.linearCenter__bold {
  width: 50px;
  height: 3px;
  margin: 0 auto;
  background: #ea375c;
}
.blocComents__btn {
  display: block;
  max-width: 330px;
  margin: 0 auto 30px;
  padding: 10px;
  border: 2px solid #141d22;
  color: #141d22;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background: white;
  text-align: center;
  transition: border .2s, color .2s, background .2s;
}
.blocComents__btn:hover,
.blocComents__btn:active,
.blocComents__btn:focus {
  border: 2px solid transparent;
  color: white;
  background: #ea375c;
  text-decoration: none;
}
.author__name {
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 18px;
  color: #141d22;
  margin-bottom: 0;
}
.author__datePosts {
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  color: #b5b5b5;
}
.author__stars li {
  display: inline-block;
}
.textComent {
  max-width: 800px;
  margin-bottom: 0;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  padding-bottom: 25px;
}
.wrapComents {
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 25px;
}
.blocComents {
  position: relative;
}
.comentsPopUp {
  position: absolute;
  top: 110px;
  display: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  width: 100%;
  height: auto;
}
.leftComentPopup--pad {
  padding: 50px 0 40px 40px;
}
.leftComentPopup__text1 {
  color: #141d22;
  font-family: "Akrobat-Regular", sans-serif;
  font-size: 18px;
  padding-bottom: 20px;
  margin-bottom: 0;
}
.leftComentPopup__text2 {
  color: #b5b5b5;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  margin-bottom: 0;
  padding-bottom: 20px;
}
.middleComentPopup {
  padding-top: 60px;
}
.popupBtn {
  display: block;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  padding-left: 20px;
  max-width: 340px;
  width: 100%;
  height: 41px;
  background-color: #f1f1f1;
  margin-bottom: 25px;
  border: none;
}
.comentsPopup {
  display: block;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  padding-left: 20px;
  max-width: 340px;
  width: 100%;
  height: 112px;
  resize: none;
  background-color: #f1f1f1;
  margin-bottom: 25px;
  border: none;
  margin-top: 60px;
  padding-top: 10px;
}
.blocComents__btn--submit {
  width: 100%;
  max-width: 340px;
}
.formPopComents {
  width: 100%;
  max-width: 340px;
}
.blocRating__text {
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
}
/*sprite with stars*/
#reviewStars-input input:checked ~ label,
#reviewStars-input label,
#reviewStars-input label:hover,
#reviewStars-input label:hover ~ label {
  background: url('../img/star.png') no-repeat;
}
#reviewStars-input {
  /*fix floating problems*/
  overflow: hidden;
  *zoom: 1;
  /*end of fix floating problems*/
  position: relative;
  float: left;
}
#reviewStars-input input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  z-index: 0;
}
#reviewStars-input input:checked ~ label {
  background-position: -3px -18px;
  height: 15px;
  width: 15px;
}
#reviewStars-input label {
  background-position: -3px 0px;
  height: 15px;
  width: 15px;
  float: right;
  cursor: pointer;
  margin-right: 5px;
  position: relative;
  z-index: 1;
}
#reviewStars-input label:hover,
#reviewStars-input label:hover ~ label {
  background-position: -3px -18px;
  height: 15px;
  width: 15px;
}
.comentsPopUp__wrap {
  position: relative;
}
.closePopup {
  border: none;
  background: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 9;
}
.closePopup i {
  color: #9e9e9e;
  font-size: 24px;
  transition: color .2s;
}
.closePopup:hover i {
  color: #141d22;
}
.padNone {
  padding: 0;
}
.slicPopular--item {
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .mainBlocImg {
    width: 100%;
  }
  .navMainSlidershow li {
    width: 130px;
    height: 130px;
    margin-right: 28px;
  }
  .blockTabsTabs {
    padding-top: 30px;
  }
  .padNone {
    padding: 0 15px;
  }
  .comentsPopup,
  .blocComents__btn--submit {
    max-width: 270px;
  }
}
@media screen and (max-width: 992px) {
  .mainBlocImg {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  .navMainSlidershow {
    margin: 0 auto;
    text-align: center;
  }
  .padNo {
    padding: 0 15px;
  }
  .tableItems__right {
    width: 60%;
  }
  .leftComentPopup__text1,
  .leftComentPopup__text2 {
    text-align: center;
  }
  .middleComentPopup {
    padding-top: 0;
    margin: 0 auto;
    text-align: center;
  }
  .popupBtn {
    margin: 0 auto 25px;
  }
  .formPopComents {
    margin: 0 auto;
  }
  .comentsPopup,
  .blocComents__btn--submit {
    max-width: 340px;
  }
  .blocRating {
    width: 100px;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 660px) {
  .blockTabsTabs {
    text-align: center;
  }
  .blockTabsTabs li a {
    font-size: 18px;
  }
  .tableItems__left {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .navMainSlidershow li {
    width: 150px;
    height: 150px;
    display: block;
    text-align: center;
    margin: 0 auto 20px;
  }
  .navMainSlidershow li:last-child {
    margin-right: auto;
  }
  .blocPrice--pad {
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .submitIte {
    margin: 20px auto;
    width: 270px;
    text-align: center;
    display: block;
  }
  .bredcrums__ul li a {
    font-size: 12px;
  }
  .blockTabsTabs__controls {
    padding-right: 0;
    display: block;
  }
  .blockTabsTabs__controls .activeTab__linear {
    display: none;
  }
  .activeTab a {
    color: #ea375c;
  }
  .tableItems__left {
    font-size: 16px;
    padding: 20px 0 20px 5px;
  }
  .tableItems__right {
    font-size: 14px;
  }
  .leftComentPopup--pad {
    padding: 50px 0 40px 5px;
  }
  .popupBtn {
    width: 95%;
  }
  .comentsPopup,
  .blocComents__btn--submit {
    max-width: 340px;
    width: 95%;
    margin: 40px auto 20px;
  }
}
@media screen and (max-width: 360px) {
  .mainBlocImg img {
    width: 100%;
  }
}
