@import "../variables";
.slicSliderCategory .wrapCategoriesItem:hover .bloc-text{
  height: 180px;
}
.blockTittle {
  position: relative;
  box-shadow: 0 1px 10px rgba(112, 107, 108, 0.5);
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right, #b0dbe2 0%, #e2c1b8 100%);
  overflow: hidden;

}

.safari .wrapMainBloc {
  background: url("../../img/imgBg2.png") no-repeat;
  background-size: cover;
}

.blockTittlLine {
  position: relative;
  z-index: 2;
  display: block;
  max-width: 460px;
  height: 1px;
  background: @white;
  margin: 0 auto;
}

.blockTittlLine__bold {
  display: block;
  width: 50px;
  height: 3px;
  margin: 90px auto 0;
  background: @white;
}

.blockTittle__h1 {
  position: relative;
  max-width: 460px;
  text-align: center;
  margin: 20px auto 70px;
  font-family: @alig;
  font-size: @f40;
  color: @whitet;
  z-index: 2;
  text-transform: uppercase;
  span {
    font-family: @abold;
  }
}

.blockTittle__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.bredcrums__ul {
  padding-top: 90px;
  padding-bottom: 50px;
  li {
    display: inline-block;
    padding-right: 20px;
    &:last-child {
      padding-right: 0;
    }
    a {
      font-family: @gbold;
      font-size: @f18;
      text-transform: uppercase;
      color: @colorText;
      transition: color .2s;
      i {
        padding-left: 20px;
      }
      &:hover,
      &:active,
      &:focus {
        color: @feol;
        text-decoration: none;
        i {
          color: @colorText;
        }
      }
    }
    .bredcrums__active {
      color: @feol;
    }
  }
}

.disp {
  display: inline-block;
  .wrapCategoriesItem {
    width: 280px;
  }
}

.noPad {
  padding: 0;
  a {
    .wrapCategoriesItem {
      width: 100%;
    }
  }
}

.slip-pad {
  padding: 0 15px;
}

.disp {

  &:hover {
    text-decoration: none;
    .wrapCategoriesItem__mask,
    .itemLinearHover {
      opacity: 1;
    }
    .wrapCategoriesItem__text {
      text-decoration: none;
    }
    .bloc-text {
      background: rgba(226, 193, 184, .3);
    }
    .wrapCategoriesItem__btn {
      background: black;
      color: white;
    }
  }
}

.wrapCategoriesItem__img {
  opacity: .6;
}

.slicSliderCategory {
  margin-bottom: 170px;
  .slick-dots {
    top: 1755px;
    left: -36px;
    right: auto;
  }
  .prew1 {
    position: absolute;
    top: 1740px;
    right: auto;
    left: 70px;
  }
  .next1 {
    position: absolute;
    top: 1740px;
    right: auto;
    left: 135px;
  }
}
.wrapCategoriesItem__text--font{
  font-size: 24px;
  padding: 40px 0 14px 0;
}
.bloc-text--border{
  border-left: 1px solid #c7c7c7;
}
.bloc-text--bordeL{
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
}
.bloc-text--bordeLast{
  border-left: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}
.bloc-text--bordeLast2{
  border-right: 1px solid #c7c7c7;
  border-left: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}
@media screen and (max-width: 1500px){
  .blockTittle__img{
    opacity: .4;
  }
}
@media screen and (max-width: 1200px) {
  .slicSliderCategory .next1,
  .slicSliderCategory .prew1 {
    top: 1570px;
  }

  .slicSliderCategory .slick-dots {
    top: 1585px;
  }
}

@media all and (max-width: 992px) {
  .blockTittle__img,
  .slicSliderCategory .slick-dots,
  .slicSliderCategory .next1,
  .slicSliderCategory .prew1{
    display: none;
  }
  .noPad {
    text-align: center;
  }

  .disp {
    max-height: 100%;
    width: 100%;
  }

}
@media all and (max-width: 768px){
  .noPad a .wrapCategoriesItem {
    width: 280px;
  }
  .blockTittlLine__bold{
    margin: 70px auto 0;
  }
}