@import "../variables";

.blockTabsTabs2{
  width: 100%;
  border: none;
  li{
    position: relative;
    padding-right: 60px;
    a{
      font-size: 20px;
    }
    &:last-child{
      display: inline-block;
      float: right;
      padding-top: 5px;
      a{
        color: #bf1184;
        font-family: @greg;
        font-size: 14px;
        line-height: 20px;
        text-decoration: underline;
        &:hover{
          color: #bf1184;
          text-decoration: none;
        }
      }
    }
  }
}
.wrapClient--borNo{
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.blockLineRed--margin--wi{
  max-width: 100%;
}
.rememPass{
  color: #b5b5b5;
  font-family: @alig;
  font-size: 18px;
  text-decoration: underline;
  &:hover{
    color: #b5b5b5;
    text-decoration: none;
  }
}
#metro{
  display: block!important;
}
.borderActive{
  display: none;
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #ea375c;
  top: 49px;
}
.activeTab2{
  a{
    .borderActive{
      display: block;
    }
  }
}
.wrapHideBaskedContent--wi{
  max-width: 100%;
  .wrapHideBaskedContent__item{
    max-width: 100%;
  }
  .contentBasked__tittle--dis{
    display: inline-block;
  }
  .star--pad{
    margin-left: 10px;
  }
  .wrap-col{
    width: 100%;
    display: flex;
    justify-content: space-between;
    p{
      &:last-child{
        padding-left: 12px;
      }
    }
  }
  .wrapPriseSale__1{
    color: #b5b5b5;
    font-family: @abold;
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    padding-right: 20px;
    text-decoration: line-through;
  }
  .wrapPriseSale__2{
    color: #141d22;
    font-family: @abold;
    font-size: 18px;
    text-transform: uppercase;
  }
  .yes{
    color: #68b179;
    font-family: @alig;
    font-size: 14px;
  }
  .marNo{
    margin: 0;
  }
}
#wrapHideBaskedContent{
  overflow: auto;
  overflow-x: hidden;
}
.priceBasked__btn{
  background: transparent;
  color: #141d22;
  font-family: @gbold;
  font-size: 12px;
  width: 200px;
  height: 30px;
  border: 2px solid #141d22;
  float: right;
  margin-top: 30px;
  margin-right: 10px;
  z-index: 99999;
  position: relative;

  transition: color .2s, background .2s ;
  &:hover{
    color:white;
    background:#141d22 ;
  }
}
.priceBasked__delete--pos2{
  right: 13px;
}
.wrapChec--float{
  position: relative;
  top: 14px;
  opacity: .5;
}
.wrapButton{
  float: right;
}
.wrapChec--opN{
  opacity: 1;
}
.noCol{
  color: red!important;
}
.wrapTable{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrapTable__tittle{
  color: #141d22;
  font-family: @abold;
  font-size: 20px;
  text-transform: uppercase;
}
.table{
  width: 100%;
  border: 1px solid #c7c7c7;


  .thed{
    border-bottom: 1px solid #c7c7c7;
  }
  .tName{
    padding-left: 20px;
    width: 22%;
    color: #141d22;
    font-family: @areg;
    font-size: 14px;
  }
  .tItem{
    width: 50%;
    color: #b5b5b5;
    font-family: @alig;
    font-size: 14px;

  }
  .collT{
    .tItem;
    width: 10%;
    text-align: right;
    padding-right: 100px;
  }
  .collT--col{
    color: #141d22;
    font-family: @areg;
    font-size: 14px;
  }
  .lastTPr{
    color: #b5b5b5;
    font-family: @alig;
    font-size: 14px;
  }
}
.hedTable{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #c7c7c7;
  border-bottom:none;
}
.zacazT{
  color: #141d22;
  font-size: 18px;
  font-family: @abold;
  text-transform: uppercase;
  padding: 25px 0 25px  20px;
  margin-bottom: 0;

  span{
    font-family: Tahoma,sans-serif;
    font-weight: 400;
  }
}
.zacazT--red{
  color: #c01036;
  font-family: @abold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 25px 12% 25px 0;
  text-align: right;
  margin-bottom: 0;
}
.tName--col{
  color: #bf1184!important;
}
.tName--padN{
  padding-left: 0;
}
.lastTPr{
  text-align: left;
}
.tableFooter {
  display: block;
  border: 1px solid #c7c7c7;
  border-top:none;
  margin-bottom: 25px;
  p {
    color: #141d22;
    font-family: @abold;
    font-size: 18px;
    text-transform: uppercase;
  }
}
.tableFooter--wrapText{
  float: right;
  display: flex;
  width: 180px;
  justify-content: space-between;
  margin-right: 128px;
  padding: 10px 0 0 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.wrapContentClient{
  height: 400px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 40px;
}
.zacazT--green{
  color: green!important;
}
.spanRed{
  color: red;
}
.lastPad{
  padding-bottom: 20px;
}
.textLastZacaz{
  color: #b5b5b5;
  font-family: @alig;
  font-size: 14px;
  margin-top: 30px;
}
