@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf"), url("fonts/Akrobat-Black.eot") format("embedded-opentype"), url("fonts/Akrobat-Black.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Bold";
  src: url("fonts/Akrobat-Bold.eot"), url("fonts/Akrobat-Bold.woff") format("woff"), url("fonts/Akrobat-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/Akrobat-Bold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraBold";
  src: url("fonts/Akrobat-ExtraBold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraLight";
  src: url("fonts/Akrobat-ExtraLight.otf");
}
@font-face {
  font-family: "Akrobat-Light";
  src: url("fonts/Akrobat-Light.otf"), url("fonts/Akrobat-Light.eot") format("embedded-opentype"), url("fonts/Akrobat-Light.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Regular";
  src: url("fonts/Akrobat-Regular.otf"), url("fonts/Akrobat-Regular.eot") format("embedded-opentype"), url("fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-SemiBold";
  src: url("fonts/Akrobat-SemiBold.otf");
}
@font-face {
  font-family: "Akrobat-Thin";
  src: url("fonts/Akrobat-Thin.otf");
}
@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf");
}
@font-face {
  font-family: "GothamProBlack";
  src: url("fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
}
@font-face {
  font-family: "GothamProBold";
  src: url("fonts/GothamProBold/GothamProBold.woff") format("woff"), url("fonts/GothamProBold/GothamProBold.ttf") format("truetype"), url("fonts/GothamProBold/GothamProBold.eot") format("embedded-opentype"), url("fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProRegular";
  src: url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype"), url("fonts/GothamProRegular/GothamProRegular.eot") format("embedded-opentype"), url("fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProLight";
  src: url("fonts/GothamProLight/GothamProLight.woff") format("woff"), url("fonts/GothamProLight/GothamProLight.ttf") format("truetype"), url("fonts/GothamProLight/GothamProLight.eot") format("embedded-opentype"), url("fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProMedium";
  src: url("fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("fonts/GothamProMedium/GothamProMedium.ttf") format("truetype"), url("fonts/GothamProMedium/GothamProMedium.eot") format("embedded-opentype"), url("fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype");
}
.blockTabsTabs2 {
  width: 100%;
  border: none;
}
.blockTabsTabs2 li {
  position: relative;
  padding-right: 60px;
}
.blockTabsTabs2 li a {
  font-size: 20px;
}
.blockTabsTabs2 li:last-child {
  display: inline-block;
  float: right;
  padding-top: 5px;
}
.blockTabsTabs2 li:last-child a {
  color: #bf1184;
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
}
.blockTabsTabs2 li:last-child a:hover {
  color: #bf1184;
  text-decoration: none;
}
.wrapClient--borNo {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.blockLineRed--margin--wi {
  max-width: 100%;
}
.rememPass {
  color: #b5b5b5;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  text-decoration: underline;
}
.rememPass:hover {
  color: #b5b5b5;
  text-decoration: none;
}
#metro {
  display: block!important;
}
.borderActive {
  display: none;
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #ea375c;
  top: 49px;
}
.activeTab2 a .borderActive {
  display: block;
}
.wrapHideBaskedContent--wi {
  max-width: 100%;
}
.wrapHideBaskedContent--wi .wrapHideBaskedContent__item {
  max-width: 100%;
}
.wrapHideBaskedContent--wi .contentBasked__tittle--dis {
  display: inline-block;
}
.wrapHideBaskedContent--wi .star--pad {
  margin-left: 10px;
}
.wrapHideBaskedContent--wi .wrap-col {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrapHideBaskedContent--wi .wrap-col p:last-child {
  padding-left: 12px;
}
.wrapHideBaskedContent--wi .wrapPriseSale__1 {
  color: #b5b5b5;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  padding-right: 20px;
  text-decoration: line-through;
}
.wrapHideBaskedContent--wi .wrapPriseSale__2 {
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.wrapHideBaskedContent--wi .yes {
  color: #68b179;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 14px;
}
.wrapHideBaskedContent--wi .marNo {
  margin: 0;
}
#wrapHideBaskedContent {
  overflow: auto;
  overflow-x: hidden;
}
.priceBasked__btn {
  background: transparent;
  color: #141d22;
  font-family: "GothamProBold", sans-serif;
  font-size: 12px;
  width: 200px;
  height: 30px;
  border: 2px solid #141d22;
  float: right;
  margin-top: 30px;
  margin-right: 10px;
  z-index: 99999;
  position: relative;
  transition: color .2s, background .2s ;
}
.priceBasked__btn:hover {
  color: white;
  background: #141d22 ;
}
.priceBasked__delete--pos2 {
  right: 13px;
}
.wrapChec--float {
  position: relative;
  top: 14px;
  opacity: .5;
}
.wrapButton {
  float: right;
}
.wrapChec--opN {
  opacity: 1;
}
.noCol {
  color: red!important;
}
.wrapTable {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrapTable__tittle {
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
.table {
  width: 100%;
  border: 1px solid #c7c7c7;
}
.table .thed {
  border-bottom: 1px solid #c7c7c7;
}
.table .tName {
  padding-left: 20px;
  width: 22%;
  color: #141d22;
  font-family: "Akrobat-Regular", sans-serif;
  font-size: 14px;
}
.table .tItem {
  width: 50%;
  color: #b5b5b5;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 14px;
}
.table .collT {
  width: 50%;
  color: #b5b5b5;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 14px;
  width: 10%;
  text-align: right;
  padding-right: 100px;
}
.table .collT--col {
  color: #141d22;
  font-family: "Akrobat-Regular", sans-serif;
  font-size: 14px;
}
.table .lastTPr {
  color: #b5b5b5;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 14px;
}
.hedTable {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #c7c7c7;
  border-bottom: none;
}
.zacazT {
  color: #141d22;
  font-size: 18px;
  font-family: "Akrobat-Bold", sans-serif;
  text-transform: uppercase;
  padding: 25px 0 25px  20px;
  margin-bottom: 0;
}
.zacazT span {
  font-family: Tahoma, sans-serif;
  font-weight: 400;
}
.zacazT--red {
  color: #c01036;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding: 25px 12% 25px 0;
  text-align: right;
  margin-bottom: 0;
}
.tName--col {
  color: #bf1184!important;
}
.tName--padN {
  padding-left: 0;
}
.lastTPr {
  text-align: left;
}
.tableFooter {
  display: block;
  border: 1px solid #c7c7c7;
  border-top: none;
  margin-bottom: 25px;
}
.tableFooter p {
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.tableFooter--wrapText {
  float: right;
  display: flex;
  width: 180px;
  justify-content: space-between;
  margin-right: 128px;
  padding: 10px 0 0 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.wrapContentClient {
  height: 400px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 40px;
}
.zacazT--green {
  color: green!important;
}
.spanRed {
  color: red;
}
.lastPad {
  padding-bottom: 20px;
}
.textLastZacaz {
  color: #b5b5b5;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 14px;
  margin-top: 30px;
}
