@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf"), url("fonts/Akrobat-Black.eot") format("embedded-opentype"), url("fonts/Akrobat-Black.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Bold";
  src: url("fonts/Akrobat-Bold.eot"), url("fonts/Akrobat-Bold.woff") format("woff"), url("fonts/Akrobat-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/Akrobat-Bold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraBold";
  src: url("fonts/Akrobat-ExtraBold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraLight";
  src: url("fonts/Akrobat-ExtraLight.otf");
}
@font-face {
  font-family: "Akrobat-Light";
  src: url("fonts/Akrobat-Light.otf"), url("fonts/Akrobat-Light.eot") format("embedded-opentype"), url("fonts/Akrobat-Light.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Regular";
  src: url("fonts/Akrobat-Regular.otf"), url("fonts/Akrobat-Regular.eot") format("embedded-opentype"), url("fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-SemiBold";
  src: url("fonts/Akrobat-SemiBold.otf");
}
@font-face {
  font-family: "Akrobat-Thin";
  src: url("fonts/Akrobat-Thin.otf");
}
@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf");
}
@font-face {
  font-family: "GothamProBlack";
  src: url("fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
}
@font-face {
  font-family: "GothamProBold";
  src: url("fonts/GothamProBold/GothamProBold.woff") format("woff"), url("fonts/GothamProBold/GothamProBold.ttf") format("truetype"), url("fonts/GothamProBold/GothamProBold.eot") format("embedded-opentype"), url("fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProRegular";
  src: url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype"), url("fonts/GothamProRegular/GothamProRegular.eot") format("embedded-opentype"), url("fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProLight";
  src: url("fonts/GothamProLight/GothamProLight.woff") format("woff"), url("fonts/GothamProLight/GothamProLight.ttf") format("truetype"), url("fonts/GothamProLight/GothamProLight.eot") format("embedded-opentype"), url("fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProMedium";
  src: url("fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("fonts/GothamProMedium/GothamProMedium.ttf") format("truetype"), url("fonts/GothamProMedium/GothamProMedium.eot") format("embedded-opentype"), url("fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype");
}
.SencsText__tittle {
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.SencsText {
  margin: 80px auto;
}
.SencsText p {
  text-align: center;
  color: #626262;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 18px;
}
.tittleZacaz {
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 45px;
  margin-bottom: 45px;
}
.zacazContainer {
  max-width: 1220px;
  margin: 0 auto 110px;
  border: 3px solid #e6e6e6;
}
.wrapClient {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c7c7c7;
}
.nevClient {
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
.nevClient:hover {
  color: #141d22;
  text-decoration: none;
}
.oldClient {
  color: #bf1184;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  text-decoration: underline;
}
.oldClient:hover {
  color: #bf1184;
  text-decoration: none;
}
.wrForm1 {
  position: relative;
  margin-bottom: 30px;
}
.wrForm1__tittle {
  color: #626262;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 18px;
  padding-left: 40px;
}
.wrForm1__span {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  background-color: #d1d1d1;
  text-align: center;
  color: #ffffff;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 18px;
}
.wrForm1__span--active {
  background-color: #bf1184;
}
.wrapForm2__comments {
  max-width: 340px;
  width: 100%;
  height: 112px;
  background-color: #f1f1f1;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 15px;
  resize: none;
  border: none;
}
.labelChec--clirnt {
  color: #ea375c;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 14px;
}
.wrapChec--op {
  position: relative;
}
.formRegister__chec--op {
  opacity: .5;
}
.podskazka {
  display: none;
  position: absolute;
  width: 360px;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 14px;
  background: white;
  padding: 12px;
  box-shadow: 0 1px 10px rgba(112, 107, 108, 0.5);
  border-radius: 10px;
  left: 0;
  top: 40px;
  margin-bottom: 0;
  z-index: 9999;
}
.podskazka::before {
  content: '';
  position: absolute;
  left: 189px;
  top: -18px;
  background: url("../img/treug.png") no-repeat;
  width: 31px;
  height: 19px;
}
.wrapTitle__qwestions {
  display: block;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  background-color: #d1d1d1;
  text-align: center;
  color: #ffffff;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 18px;
  cursor: pointer;
}
.wrapTitle {
  display: inline-block;
  margin-left: 10px;
}
.borderR {
  border-left: 3px solid #e6e6e6;
}
.nevClient1 {
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
.nevClient1:hover {
  color: #141d22;
  text-decoration: none;
}
.oldClient1 {
  color: #c7c7c7;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  text-decoration: underline;
}
.oldClient1:hover {
  color: #c7c7c7;
  text-decoration: none;
}
.wrapHideContent {
  width: 100%;
  max-height: 425px;
  border-bottom: 1px solid #c7c7c7;
  overflow-x: hidden;
  margin-bottom: 12px;
}
.wrapHideBaskedContent__item--bor {
  border: none;
}
.wrapClient--mar {
  margin-bottom: 0;
}
.wrapHideBaskedContent__img--wi {
  width: 98px;
  height: 98px;
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
}
.contentBasked {
  display: inline-block;
}
.priceBasked__delete--pos {
  right: 43px;
  top: 10px;
}
.priceBasked__text--client {
  margin-top: 5px;
  text-align: left;
}
.wrapPriceClient1 {
  display: flex;
  justify-content: space-between;
}
.wrapPriceClient1__left {
  color: #141d22;
  font-family: "Akrobat-Regular", sans-serif;
  font-size: 14px;
  text-align: left;
}
.wrapPriceClient1__right {
  color: #141d22;
  font-family: "Akrobat-Regular", sans-serif;
  font-size: 14px;
  text-align: left;
  text-align: right;
}
.wrapPriceClient1__left--color {
  color: #bf1184;
}
.wrapPriceClient1--last {
  margin-top: 15px;
  margin-bottom: 20px;
}
.wrapPriceClient1--last .wrapPriceClient1__left {
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
}
.wrapPriceClient1--last .wrapPriceClient1__right {
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  text-align: right;
}
.formRegister__sub--next {
  float: right;
  margin-top: 25px;
  max-width: 140px;
}
#formClient {
  display: none;
}
.formRegister__inpForm--select .jq-selectbox__select-text {
  width: 100%!important;
}
.activeTab2 a {
  color: #141d22;
  text-decoration: none;
}
.nav-tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.formRegister__inpForm--color {
  background: transparent;
  border: 1px solid #b2b2b2;
}
.formOldTittle {
  color: #626262;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}
.formRegister__sub--enter {
  margin-top: 0;
}
.wrapBottomFormRegister__rememberPass--enter {
  color: #b5b5b5;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
  display: block;
}
.wrapBottomFormRegister__rememberPass--enter:hover {
  text-decoration: none;
  color: #b5b5b5;
}
.formEnterOld2,
#wrapClient2 {
  display: none;
}
.nevClient2 {
  color: #626262;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 18px;
}
.nevClient2:last-child {
  padding-right: 30%;
}
.nameFirst {
  max-width: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nameFirst__left {
  color: #141d22;
  font-family: "Akrobat-Regular", sans-serif;
  font-size: 14px;
}
.nameFirst__right {
  color: #b5b5b5;
  font-family: "Akrobat-Regular", sans-serif;
  font-size: 14px;
  text-align: left;
}
.wrapChengNam__a {
  display: block;
  color: #b5b5b5;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  text-decoration: underline;
  margin-top: 50px;
}
.wrapChengNam__a:hover {
  text-decoration: none;
  color: #b5b5b5;
}
.wrapChengNam__a--noMar {
  margin-top: 20px;
}
.nameFirst--wi {
  max-width: 250px;
}
.nameFirst--wi2 {
  max-width: 211px;
}
.wrapForm2--pad {
  margin-top: 20px;
}
.nameFirst__left--wi {
  flex-basis: 230px;
}
.modal-content2 {
  max-width: 840px!important;
  margin: 0 auto;
}
.modal-content2 .datepickers-container {
  z-index: 999999!important;
}
.col-md-6--float input {
  float: right;
}
.nameClient--pad {
  padding-left: 50px;
}
.nameClient {
  color: #626262;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 18px;
}
.modal-content3 {
  max-width: 376px!important;
  margin: 0 auto;
}
.wrapHei {
  height: 300px;
}
.formRegister__sub--mar {
  margin-bottom: 30px;
  display: block;
}
@media screen and (max-width: 1200px) {
  .zacazContainer {
    max-width: 1000px;
  }
  .wrapForm2__comments {
    font-size: 14px;
  }
  .formRegister__inpForm--select .jq-selectbox__select-text {
    background-position: 94% 4px;
  }
}
@media screen and (max-width: 992px) {
  .wrapForm2__comments {
    font-size: 18px;
    margin: 0 auto 20px;
    display: block;
  }
  .podskazka {
    left: 243px;
  }
  .borderR {
    border: none;
  }
}
