@import "variables";
.wrapMainBloc__img--denis{
  left: 50px;
  max-width: 920px;
}
.wrapMainText__dopText--denis{
  width: 383px;
  padding-bottom: 14px;
}
.podrob{
  display: block;
  width: 135px;
  letter-spacing: 2px;
  font-size: @f14;
  font-family: @gbold;
  text-transform: uppercase;
  color: @colorText;
  border: 2px solid #000000;
  padding: 10px;
  margin-bottom: 120px;
  margin-top: 30px;
  transition: background .3s, color .3s;
  &:hover,
  &:active,
  &:focus{
    background: black;
    color: @white;
    text-decoration: none;
  }
}
@media screen and (max-width: 1820px){
  .wrapMainBloc__img--denis{
    opacity: .3;
  }
}
@media screen and (max-width: 992px){
  .wrapMainText__dopText {
    padding-bottom: 10px;
    text-align: center;
    margin: 0 auto;
  }
  .podrob{
    margin: 20px auto 70px;
  }
  .wrapMainText__h1{
    font-size: 70px;
    line-height: 70px;
  }
  .wrapMainBloc__img--denis{
    display: none;
  }
}
@media screen and (max-width: 540px){
  .linear--style{
    margin-top: 80px;
    margin-bottom: 15px;
  }
  .wrapMainText__slogan{
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  .wrapMainText__h1 {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
  .wrapMainText__dopText--denis {
    width: 100%;
    text-align: center;
  }
  .podrob {
    margin: 20px auto 50px;
  }
}