@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf"), url("fonts/Akrobat-Black.eot") format("embedded-opentype"), url("fonts/Akrobat-Black.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Bold";
  src: url("fonts/Akrobat-Bold.eot"), url("fonts/Akrobat-Bold.woff") format("woff"), url("fonts/Akrobat-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/Akrobat-Bold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraBold";
  src: url("fonts/Akrobat-ExtraBold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraLight";
  src: url("fonts/Akrobat-ExtraLight.otf");
}
@font-face {
  font-family: "Akrobat-Light";
  src: url("fonts/Akrobat-Light.otf"), url("fonts/Akrobat-Light.eot") format("embedded-opentype"), url("fonts/Akrobat-Light.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Regular";
  src: url("fonts/Akrobat-Regular.otf"), url("fonts/Akrobat-Regular.eot") format("embedded-opentype"), url("fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-SemiBold";
  src: url("fonts/Akrobat-SemiBold.otf");
}
@font-face {
  font-family: "Akrobat-Thin";
  src: url("fonts/Akrobat-Thin.otf");
}
@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf");
}
@font-face {
  font-family: "GothamProBlack";
  src: url("fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
}
@font-face {
  font-family: "GothamProBold";
  src: url("fonts/GothamProBold/GothamProBold.woff") format("woff"), url("fonts/GothamProBold/GothamProBold.ttf") format("truetype"), url("fonts/GothamProBold/GothamProBold.eot") format("embedded-opentype"), url("fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProRegular";
  src: url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype"), url("fonts/GothamProRegular/GothamProRegular.eot") format("embedded-opentype"), url("fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProLight";
  src: url("fonts/GothamProLight/GothamProLight.woff") format("woff"), url("fonts/GothamProLight/GothamProLight.ttf") format("truetype"), url("fonts/GothamProLight/GothamProLight.eot") format("embedded-opentype"), url("fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProMedium";
  src: url("fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("fonts/GothamProMedium/GothamProMedium.ttf") format("truetype"), url("fonts/GothamProMedium/GothamProMedium.eot") format("embedded-opentype"), url("fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype");
}
.blockEmail {
  position: relative;
  background: url("/catalog/view/theme/denis_shop/image/common/bg+img-8.jpg") no-repeat -170px;
}
.blockEmail__img {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
.blockEmail__tittle {
  color: white;
  font-size: 40px;
  font-family: "Akrobat-Light", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-top: 90px;
  z-index: 9;
  max-width: 900px;
  margin: 0 auto;
}
.blockEmail__tittle span {
  font-family: "Akrobat-Bold", sans-serif;
}
.emailto {
  max-width: 500px;
  display: block;
  margin: 0 auto 50px;
}
.email {
  display: inline-block;
  vertical-align: top;
  max-width: 340px;
  width: 100%;
  height: 41px;
  background-color: white;
  margin-right: 15px;
  border: none;
  padding-left: 20px;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
}
.emailto__submit {
  width: 134px;
  height: 41px;
  display: inline-block;
  background: transparent;
  padding-top: 7px;
  margin: 0;
}
.blockEmail__tittleSocial {
  text-transform: uppercase;
  text-align: center;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 40px;
  color: white;
}
.wrapSocialMail {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 10px;
}
.wrapSocialMail div {
  display: inline-block;
  margin-right: 10px;
}
.wrapSocialMail div:last-child {
  margin-right: 0;
}
.wrapSocialMail .fa {
  font-size: 28px;
  color: #666666;
  border: 2px solid #666666;
  border-radius: 100%;
  padding: 16px;
  transition: color .3s, border .3s;
}
.wrapSocialMail .fa:hover {
  color: #bf1184;
  border-color: #bf1184;
}
.blockServises {
  padding: 90px 0;
}
.servises__tittle {
  color: #323232;
  font-size: 22px;
  font-family: "GothamProBold", sans-serif;
  padding-bottom: 12px;
}
.servises--help {
  margin: 0 auto;
  width: 290px;
}
.servises li {
  padding-bottom: 12px;
}
.servises li a {
  color: #8e8e8e;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  transition: color .3s;
}
.servises li a:hover,
.servises li a:active,
.servises li a:focus {
  color: #bf1184;
  text-decoration: none;
}
.servises--middle {
  padding-top: 40px;
}
.footer {
  width: 100%;
  height: auto;
  background: #141d22;
}
.footerLogo {
  width: 100%;
  padding: 60px 0;
}
.footerMenu__ul {
  padding-top: 55px;
  padding-bottom: 45px;
  text-align: center;
}
.footerMenu__ul li {
  display: inline-block;
  color: white;
  padding-right: 20px;
}
.footerMenu__ul li:last-child {
  padding-right: 0;
}
.footerMenu__ul li a {
  text-transform: uppercase;
  color: white;
  font-family: "GothamProBold", sans-serif;
  font-size: 18px;
  transition: color .3s;
}
.footerMenu__ul li a:hover,
.footerMenu__ul li a:active,
.footerMenu__ul li a:focus {
  color: #bf1184;
  text-decoration: none;
}
.footerMenu__ul li a:hover i,
.footerMenu__ul li a:active i,
.footerMenu__ul li a:focus i {
  color: white;
}
.footerMenu__ul li i {
  padding-left: 20px;
}
.copyring {
  color: white;
  font-family: "GothamProLight", sans-serif;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}
.contact {
  padding-top: 40px;
}
.contact li {
  font-family: "GothamProBold", sans-serif;
  color: #8e8e8e;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 5px;
  transition: color .3s;
}
.contact a {
  color: #8e8e8e;
}
.contact a:hover {
  text-decoration: none;
  color: #bf1184;
}
.contact .contact__tittle {
  font-family: "GothamProBold", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 5px;
}
.blockEmail__text {
  text-align: center;
  font-family: "Akrobat-Regular", sans-serif;
  color: #141d22;
  font-size: 18px;
  padding: 25px 0;
}
.soc-in,
.soc-vk,
.soc-wa {
  display: inline-block;
  background: url('../img/social.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.soc-in {
  background-position: -5px 0px;
  width: 60px;
  height: 60px;
}
.soc-vk {
  background-position: -5px -65px;
  width: 60px;
  height: 60px;
}
.soc-wa {
  background-position: -5px -130px;
  width: 60px;
  height: 60px;
}
.yu:hover .soc-in,
.in:hover .soc-in,
.tw:hover .soc-in {
  background: url("../img/socialHover.png") no-repeat;
  background-position: -5px 0px;
}
.yu:hover .soc-vk,
.in:hover .soc-vk,
.tw:hover .soc-vk {
  background: url("../img/socialHover.png") no-repeat;
  background-position: -5px -65px;
}
.yu:hover .soc-wa,
.in:hover .soc-wa,
.tw:hover .soc-wa {
  background: url("../img/socialHover.png") no-repeat;
  background-position: -5px -130px;
}
@media screen and (min-width: 1930px) {
  .blockEmail__img {
    display: block;
  }
  .blockEmail {
    background: linear-gradient(to right, #b0dbe2 0%, #e2c1b8 100%);
  }
}
@media screen and (max-width: 1200px) {
  .blockEmail {
    background: linear-gradient(to right, #b0dbe2 0%, #e2c1b8 100%);
  }
  .footerMenu__ul li i {
    padding-left: 10px;
  }
}
@media screen and (max-width: 992px) {
  .servises {
    text-align: center;
  }
  .servises--middle {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footerLogo {
    width: 280px;
    padding: 30px 0;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .footerMenu__ul {
    padding-top: 25px;
  }
  .contact {
    text-align: center;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 510px) {
  .blockEmail__tittle {
    font-size: 28px;
    padding-top: 50px;
  }
  .email {
    display: block;
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
  }
  .emailto__submit {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .blockEmail__tittleSocial {
    font-size: 28px;
    margin-bottom: 0;
  }
  .footerMenu__ul i {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .blockEmail__tittleSocial {
    font-size: 24px;
  }
  .wrapSocialMail .fa {
    font-size: 24px;
  }
  .footerMenu__ul li {
    display: block;
    color: white;
    padding-right: 0;
    padding-bottom: 10px;
  }
}
