@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf"), url("fonts/Akrobat-Black.eot") format("embedded-opentype"), url("fonts/Akrobat-Black.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Bold";
  src: url("fonts/Akrobat-Bold.eot"), url("fonts/Akrobat-Bold.woff") format("woff"), url("fonts/Akrobat-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/Akrobat-Bold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraBold";
  src: url("fonts/Akrobat-ExtraBold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraLight";
  src: url("fonts/Akrobat-ExtraLight.otf");
}
@font-face {
  font-family: "Akrobat-Light";
  src: url("fonts/Akrobat-Light.otf"), url("fonts/Akrobat-Light.eot") format("embedded-opentype"), url("fonts/Akrobat-Light.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Regular";
  src: url("fonts/Akrobat-Regular.otf"), url("fonts/Akrobat-Regular.eot") format("embedded-opentype"), url("fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-SemiBold";
  src: url("fonts/Akrobat-SemiBold.otf");
}
@font-face {
  font-family: "Akrobat-Thin";
  src: url("fonts/Akrobat-Thin.otf");
}
@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf");
}
@font-face {
  font-family: "GothamProBlack";
  src: url("fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
}
@font-face {
  font-family: "GothamProBold";
  src: url("fonts/GothamProBold/GothamProBold.woff") format("woff"), url("fonts/GothamProBold/GothamProBold.ttf") format("truetype"), url("fonts/GothamProBold/GothamProBold.eot") format("embedded-opentype"), url("fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProRegular";
  src: url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype"), url("fonts/GothamProRegular/GothamProRegular.eot") format("embedded-opentype"), url("fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProLight";
  src: url("fonts/GothamProLight/GothamProLight.woff") format("woff"), url("fonts/GothamProLight/GothamProLight.ttf") format("truetype"), url("fonts/GothamProLight/GothamProLight.eot") format("embedded-opentype"), url("fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProMedium";
  src: url("fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("fonts/GothamProMedium/GothamProMedium.ttf") format("truetype"), url("fonts/GothamProMedium/GothamProMedium.eot") format("embedded-opentype"), url("fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype");
}
.wrapMainBloc__img--denis {
  left: 50px;
  max-width: 920px;
}
.wrapMainText__dopText--denis {
  width: 383px;
  padding-bottom: 14px;
}
.podrob {
  display: block;
  width: 135px;
  letter-spacing: 2px;
  font-size: 14px;
  font-family: "GothamProBold", sans-serif;
  text-transform: uppercase;
  color: #141d22;
  border: 2px solid #000000;
  padding: 10px;
  margin-bottom: 120px;
  margin-top: 30px;
  transition: background .3s, color .3s;
}
.podrob:hover,
.podrob:active,
.podrob:focus {
  background: black;
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 1820px) {
  .wrapMainBloc__img--denis {
    opacity: .3;
  }
}
@media screen and (max-width: 992px) {
  .wrapMainText__dopText {
    padding-bottom: 10px;
    text-align: center;
    margin: 0 auto;
  }
  .podrob {
    margin: 20px auto 70px;
  }
  .wrapMainText__h1 {
    font-size: 70px;
    line-height: 70px;
  }
  .wrapMainBloc__img--denis {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .linear--style {
    margin-top: 80px;
    margin-bottom: 15px;
  }
  .wrapMainText__slogan {
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  .wrapMainText__h1 {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
  .wrapMainText__dopText--denis {
    width: 100%;
    text-align: center;
  }
  .podrob {
    margin: 20px auto 50px;
  }
}
