@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf"), url("fonts/Akrobat-Black.eot") format("embedded-opentype"), url("fonts/Akrobat-Black.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Bold";
  src: url("fonts/Akrobat-Bold.eot"), url("fonts/Akrobat-Bold.woff") format("woff"), url("fonts/Akrobat-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/Akrobat-Bold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraBold";
  src: url("fonts/Akrobat-ExtraBold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraLight";
  src: url("fonts/Akrobat-ExtraLight.otf");
}
@font-face {
  font-family: "Akrobat-Light";
  src: url("fonts/Akrobat-Light.otf"), url("fonts/Akrobat-Light.eot") format("embedded-opentype"), url("fonts/Akrobat-Light.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Regular";
  src: url("fonts/Akrobat-Regular.otf"), url("fonts/Akrobat-Regular.eot") format("embedded-opentype"), url("fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-SemiBold";
  src: url("fonts/Akrobat-SemiBold.otf");
}
@font-face {
  font-family: "Akrobat-Thin";
  src: url("fonts/Akrobat-Thin.otf");
}
@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf");
}
@font-face {
  font-family: "GothamProBlack";
  src: url("fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
}
@font-face {
  font-family: "GothamProBold";
  src: url("fonts/GothamProBold/GothamProBold.woff") format("woff"), url("fonts/GothamProBold/GothamProBold.ttf") format("truetype"), url("fonts/GothamProBold/GothamProBold.eot") format("embedded-opentype"), url("fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProRegular";
  src: url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype"), url("fonts/GothamProRegular/GothamProRegular.eot") format("embedded-opentype"), url("fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProLight";
  src: url("fonts/GothamProLight/GothamProLight.woff") format("woff"), url("fonts/GothamProLight/GothamProLight.ttf") format("truetype"), url("fonts/GothamProLight/GothamProLight.eot") format("embedded-opentype"), url("fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProMedium";
  src: url("fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("fonts/GothamProMedium/GothamProMedium.ttf") format("truetype"), url("fonts/GothamProMedium/GothamProMedium.eot") format("embedded-opentype"), url("fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype");
}
.newsTittle {
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  padding-bottom: 35px;
  padding-top: 60px;
}
.newsTittle span {
  font-family: "Akrobat-Light", sans-serif;
}
.centerLinear {
  background: black;
  height: 1px;
  width: 100%;
  display: block;
}
.centerLinear__bold {
  display: block;
  background: black;
  text-align: center;
  margin: 0 auto;
  width: 50px;
  height: 3px;
}
.news__dat {
  text-align: center;
  font-family: "Akrobat-Black", sans-serif;
  font-size: 30px;
  color: #141d22;
  text-transform: uppercase;
  padding-bottom: 12px;
  padding-top: 20px;
  margin-bottom: 0;
}
.news__author {
  text-align: center;
  padding-bottom: 30px;
}
.news__author li {
  display: inline-block;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 16px;
  color: #919191;
}
.news__author li a {
  font-family: "Akrobat-Bold", sans-serif;
  color: #141d22;
}
.news__author li i {
  font-size: 5px;
  position: relative;
  top: -3px;
  padding: 0 3px;
}
.wrapImgNews {
  position: relative;
}
.wrapImgNews__mask {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 375px;
  max-height: 375px;
  border: 15px solid rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: opacity .3s ;
}
.newsHover__img {
  width: 100%;
  max-width: 375px;
  max-height: 375px;
  overflow: hidden;
}
.newsHover__tittle {
  color: #141d22;
  font-family: "Akrobat-Black", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0 10px 0;
  margin-bottom: 0;
}
.newsHover__text {
  max-width: 280px;
  color: #141d22;
  font-family: "Akrobat-Regular", sans-serif;
  text-align: center;
  padding-bottom: 35px;
  margin: 0 auto;
}
.podrob--news {
  text-align: center;
  margin: 0 auto 20px;
  height: 41px;
  padding: 9px;
}
.newsHover:hover .podrob--news {
  background: black;
  color: white;
}
.newsHover:hover .wrapImgNews__mask {
  opacity: 1;
}
.newsHover:hover .newsHover__text {
  text-decoration: none;
}
.newsHover:hover .newsHover__tittle {
  text-decoration: none;
}
.news-pad {
  margin-bottom: 150px;
}
@media screen and (max-width: 1200px) {
  .newsHover__tittle {
    font-size: 22px;
  }
}
@media all and (max-width: 992px) {
  .wrapImgNews {
    max-width: 375px;
    margin: 0 auto;
  }
}
