@import "variables";

.newsTittle{
  color: @colorText;
  font-family: @abold;
  font-size: @f40;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  padding-bottom: 35px;
  padding-top: 60px;
  span{
    font-family: @alig;
  }
}
.centerLinear{
  background: black;
  height: 1px;
  width: 100%;
  display: block;
}
.centerLinear__bold{
  display: block;
  background: black;
  text-align: center;
  margin: 0 auto;
  width: 50px;
  height: 3px;
}
.news__dat{
  text-align: center;
  font-family: @ablack;
  font-size: @f30;
  color: @colorText;
  text-transform: uppercase;
  padding-bottom: 12px;
  padding-top: 20px;
  margin-bottom: 0;
}
.news__author{
  text-align: center;
  padding-bottom: 30px;
  li{
    display: inline-block;
    font-family: @alig;
    font-size: @f16;
    color:@greyText;
    a{
      font-family: @abold;
      color: @colorText;
    }
    i{
      font-size: 5px;
      position: relative;
      top: -3px;
      padding: 0 3px;
    }
  }
}
.wrapImgNews{
  position: relative;
}
.wrapImgNews__mask{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 375px;
  max-height: 375px;
  border: 15px solid rgba(255,255,255,.8);
  opacity: 0;
  transition:opacity .3s ;
}
.newsHover__img{
  width: 100%;
  max-width: 375px;
  max-height: 375px;
  overflow: hidden;
}
.newsHover__tittle{
  color:@colorText;
  font-family: @ablack;
  font-size: @f30;
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0 10px 0;
  margin-bottom: 0;
}
.newsHover__text{
  max-width: 280px;
  color:@colorText;
  font-family: @areg;
  text-align: center;
  padding-bottom: 35px;
  margin: 0 auto;
}
.podrob--news{
  text-align: center;
  margin: 0 auto 20px;
  height: 41px;
  padding: 9px;
}
.newsHover:hover{
    .podrob--news{
      background: black;
      color:white;
    }
    .wrapImgNews__mask{
      opacity: 1;
    }
    .newsHover__text{
      text-decoration: none;
    }
  .newsHover__tittle{
    text-decoration: none;
  }
}
.news-pad{
  margin-bottom: 150px;
}
@media screen and (max-width: 1200px){
  .newsHover__tittle{
    font-size: 22px;
  }
}
@media all and (max-width: 992px){
  .wrapImgNews{
    max-width: 375px;
    margin: 0 auto;
  }
}