@import "variables";
.wrapBlocAction{
  margin-top: 100px;
  margin-bottom: 100px;
}
.wrapBlocAction__actionImg4{
  width: 94.5%;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.wrapBlocAction__actionImg3{
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 94.5%;
}
.wrapBlocAction__actionImg3--pad{
  margin-top: 139px;
}
.wrapBlocAction__hover-a:hover img{
  box-shadow: 0 0 10px rgba(112, 107, 108, 0.6);
}
@media screen and (max-width: 1200px){
  .wrapBlocAction--wiz img{
    width: 100%;
  }
}
@media screen and (max-width: 992px){
  .wrapBlocAction__actionImg3,
  .wrapBlocAction__actionImg4{
    margin: 0 auto 30px;
    width: 69.5%;
  }
  .wrapBlocAction--wiz img {
    width: 70%;
    text-align: center;
    display: block;
    margin: 0 auto 30px;
  }
}