@import "variables";

.blockEmail {
  position: relative;
  background: url("../img/bg+img-8.jpg")no-repeat -170px;
}

.blockEmail__img {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.blockEmail__tittle {
  color: @whitet;
  font-size: @f40;
  font-family: @alig;
  text-transform: uppercase;
  text-align: center;
  padding-top: 90px;
  z-index: 9;
  max-width: 900px;
  margin: 0 auto;
  span {
    font-family: @abold;
  }
}

.emailto {
  max-width: 500px;
  display: block;
  margin: 0 auto 50px
}

.email {
  display: inline-block;
  vertical-align: top;
  max-width: 340px;
  width: 100%;
  height: 41px;
  background-color: @white;
  margin-right: 15px;
  border: none;
  padding-left: 20px;
  color: @text-grey;
  font-family: @alig;
  font-size: @f18;
}

.emailto__submit {
  width: 134px;
  height: 41px;
  display: inline-block;
  background: transparent;
  padding-top: 7px;
  margin: 0;
}

.blockEmail__tittleSocial {
  text-transform: uppercase;
  text-align: center;
  font-family: @abold;
  font-size: @f40;
  color: @whitet;
}

.wrapSocialMail {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 10px;
  div {
    display: inline-block;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  .fa {
    font-size: 28px;
    color: @colSocial;
    border: 2px solid @colSocial;
    border-radius: 100%;
    padding: 16px;
    transition: color .3s, border .3s;
    &:hover {
      color: @feol;
      border-color: @feol;
    }
  }
}

.blockServises {
  padding: 90px 0;
}

.servises__tittle {
  color: @black;
  font-size: @f22;
  font-family: @gbold;
  padding-bottom: 12px;
}

.servises--help {
  margin: 0 auto;
  width: 290px;
}

.servises {
  li {
    padding-bottom: 12px;
    a {
      color: @grey;
      font-family: @gbold;
      font-size: @f14;
      text-transform: uppercase;
      transition: color .3s;
      &:hover,
      &:active,
      &:focus {
        color: @feol;
        text-decoration: none;
      }
    }
  }
}

.servises--middle {
  padding-top: 40px;
}

.footer {
  width: 100%;
  height: auto;
  background: #141d22;
}

.footerLogo {
  width: 100%;
  padding: 60px 0;
}

.footerMenu__ul {
  padding-top: 55px;
  padding-bottom: 45px;
  text-align: center;
  li {
    display: inline-block;
    color: @whitet;
    padding-right: 20px;
    &:last-child {
      padding-right: 0;
    }
    a {
      text-transform: uppercase;
      color: @whitet;
      font-family: @gbold;
      font-size: @f18;
      transition: color .3s;
      &:hover,
      &:active,
      &:focus {
        color: @feol;
        text-decoration: none;
        i {
          color: @whitet;
        }
      }
    }
    i {
      padding-left: 20px;
    }
  }
}

.copyring {
  color: @whitet;
  font-family: @glight;
  font-size: @f10;
  text-align: center;
  text-transform: uppercase;
}

.contact {
  padding-top: 40px;
  li {
    font-family: @gbold;
    color: @grey;
    text-transform: uppercase;
    font-size: @f14;
    padding-bottom: 5px;
    transition: color .3s;
  }
  a {
    color: @grey;
    &:hover {
      text-decoration: none;
      color: @feol;
    }
  }
  .contact__tittle {
    font-family: @gbold;
    color: @whitet;
    text-transform: uppercase;
    font-size: @f18;
    padding-bottom: 5px;
  }
}

.blockEmail__text {
  text-align: center;
  font-family: @areg;
  color: @colorText;
  font-size: @f18;
  padding: 25px 0;
}

//sprite social
.soc-in, .soc-vk, .soc-wa {
  display: inline-block;
  background: url('../img/social.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.soc-in {
  background-position: -5px -0px;
  width: 60px;
  height: 60px;
}

.soc-vk {
  background-position: -5px -65px;
  width: 60px;
  height: 60px;
}

.soc-wa {
  background-position: -5px -130px;
  width: 60px;
  height: 60px;
}
.yu,
.in,
.tw{
  &:hover{
    .soc-in{
      background: url("../img/socialHover.png") no-repeat;
      background-position: -5px -0px;
    }
    .soc-vk{
      background: url("../img/socialHover.png") no-repeat;
      background-position: -5px -65px;
    }
    .soc-wa{
      background: url("../img/socialHover.png") no-repeat;
      background-position: -5px -130px;
    }

  }
}


@media screen and (min-width: 1930px) {
  .blockEmail__img {
    display: block;
  }

  .blockEmail {
    background: linear-gradient(to right, #b0dbe2 0%, #e2c1b8 100%);
  }
}

@media screen and (max-width: 1200px) {
  .blockEmail {
    background: linear-gradient(to right, #b0dbe2 0%, #e2c1b8 100%);
  }

  .footerMenu__ul li i {
    padding-left: 10px;
  }
}

@media screen and (max-width: 992px) {
  .servises {
    text-align: center;
  }

  .servises--middle {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footerLogo {
    width: 280px;
    padding: 30px 0;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .footerMenu__ul {
    padding-top: 25px;
  }

  .contact {
    text-align: center;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 510px) {
  .blockEmail__tittle {
    font-size: 28px;
    padding-top: 50px;
  }

  .email {
    display: block;
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
    margin-right: 0;
  }

  .emailto__submit {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .blockEmail__tittleSocial {
    font-size: 28px;
    margin-bottom: 0;
  }

  .footerMenu__ul {
    i {
      display: none;
    }
  }
}

@media screen and (max-width: 380px) {
  .blockEmail__tittleSocial {
    font-size: 24px;
  }

  .wrapSocialMail .fa {
    font-size: 24px;
  }

  .footerMenu__ul li {
    display: block;
    color: white;
    padding-right: 0;
    padding-bottom: 10px;
  }
}