@import "variables";
//top header
.topHeader--border {
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
}

.topHedLeft__bars {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 9;
  &:hover {
    i {
      color: @feol;
    }
  }
  i {
    font-size: 30px;
    color: black;
    transition: color .2s;
  }
}

.clikMenu {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  width: 225px;
  height: auto;
  box-shadow: 0 0 10px rgba(112, 107, 108, 0.4);
  background-color: #ffffff;
  text-align: center;
  z-index: 99;
  li {
    position: relative;
    margin-top: 10px;
    padding: 5px 0;
    cursor: pointer;
    &:hover {
      background-color: #f7f7f7;
      a {
        text-decoration: none;
        color: @feol;
      }
    }
    &:last-child {
      margin-bottom: 20px;
    }
    a {
      text-transform: uppercase;
      color: @black;
      font-family: @gbold;
      font-size: @f18;
      font-weight: 700;
    }
  }
}

.clikMenu__circle {
  font-size: 13px;
  position: absolute;
  font-family: @gbold;
  top: -6px;
  right: 55px;
  font-style: normal;
  padding: 0 6px;
  border-radius: 100%;
  background: @feol;
  color: white;
}

.clikMenu__heart {
  background: url("../img/hearth-ic.png") no-repeat 0 6px;
  font-style: normal;
  font-family: @gbold;
  color: white;
  padding: 7px;
  font-size: 11px;
  position: absolute;
  top: -7px;
}

.active-bars {
  color: @feol !important;
}

.topHedLeft {
  position: absolute;
  top: 31px;
  left: 150px;
}

.number {
  font-family: @glight;
  font-size: @f14;
  color: #2d2d2d;
  padding-right: 12px;
  &:last-child {
    padding-right: 0;
  }
  &:hover {
    color: #2d2d2d;
  }
}

.callbec_wrapNumber {
  padding-top: 18px;
}

.callbec__text {
  .number;
  font-family: @gmed;
  margin-bottom: 0;
}

.callbec__calbec {
  .callbec__text;
  display: block;
  text-decoration: underline;
  color: #bf1184;
  text-transform: uppercase;
  padding-bottom: 12px;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #bf1184;
  }
}

.top-nav {
  padding-top: 35px;
  text-align: right;
  li {
    display: inline-block;
    padding-right: 60px;
    &:last-child {
      padding-right: 0;
    }
    a {
      color: #2d2d2d;
      font-family: @gbold;
      font-size: @f14;
      text-decoration: underline;
      text-transform: uppercase;
      transition: color .3s;
      &:hover,
      &:active,
      &:focus {
        color: #bf1184;
        text-decoration: none;
      }
    }
  }
}

.topHedRight {
  position: absolute;
  top: 2px;
  right: 6%;
}

.topHedRight__basked {
  position: relative;
  margin: 26px 40px 26px 0;
  background: url("../img/cart.png") no-repeat;
  display: inline-block;
  width: 26px;
  height: 26px;
  i {
    top: 15px;
    right: -10px;
  }
}

.topHedRight__form {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  input {
    color: #939393;
    font-family: @gbold;
    font-size: @f16;
    font-weight: 500;
    border: none;
    width: 120px;
  }
  button {
    border: none;
    background: none;
    font-size: 22px;
  }
}

//header

@media all and (max-width: 520px) {
  .topHedLeft__bars {
    margin: 31px 0 31px 40px;
  }

  .clikMenu {
    top: 90px;
    left: 15px;
  }

  .topHedRight {
    margin-right: 0.7%;
  }

  .topHedRight__form input {
    width: 100px;
  }
}

.logo {
  display: block;
  text-align: center;
  margin: 20px auto 25px;
}

.middleHeader--pos {
  position: relative;
  width: 100%;
  box-shadow: 0 5px 10px rgba(112, 107, 108, 0.2);
}

.social {
  position: absolute;
  right: 150px;
  top: 80px;
  div {
    display: inline-block;
    padding-right: 15px;
    &:last-child {
      padding-right: 0;
    }
    i {
      font-size: 20px;
      color: @black;
      transition: color .3s;
      &:hover {
        color: #cdcdcd;
      }
    }
  }
}

//menu
.mainMenu {
  position: relative;
  text-align: center;
  margin-bottom: 25px;
}

.mainMenu__li {
  display: inline-block;
  margin-right: 25px;
  &:last-child {
    margin-right: 0;
  }
  a {
    font-family: @gbold;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: @black;
    transition: color .2s;
    i {
      padding-left: 25px;
    }
    &:hover,
    &:active,
    &:focus {
      color: @feol;
      text-decoration: none;
      i {
        color: @black;
      }
    }
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 25px;
  left: 112px;
  width: 80%;
  height: auto;
  box-shadow: 0 0 10px rgba(112, 107, 108, 0.4);
  background: @white;
  z-index: 99;
  transition: all .4s;
}

.leftTableMenu {
  width: 100%;
  text-align: left;
  padding: 35px 0;
  li {
    padding-bottom: 6px;
    &:hover {
      background-color: #f7f7f7;
    }
  }
  .wrap-menuLeft__last-li {
    padding-bottom: 7px !important;
  }
  a {
    display: block;
    color: @grey;
    font-family: @gbold;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 6px 0 6px 40px;
    &:last-child {
      padding-bottom: 0;
    }
    .leftTableMenu__right-span {
      padding-right: 30px;
    }
    &:hover {
      .leftTableMenu__right-span {
        color: black;
      }
    }
  }
  .first-a {
    padding-top: 35px;
  }
  .last-a {
    padding-bottom: 35px;
  }
}

.leftTableMenu__right-span {
  float: right;
}

.wrap-menuLeft {
  display: block;
  border-right: 1px solid @grey;
}

.rightTableMenu {
  .wrap-menuLeft {
    border: none;
  }
  text-align: left;
  a {
    padding-left: 25px;
  }
}

.dropdown--pad {
  padding-right: 0;
}

.dropdown--pad2 {
  padding-left: 0;
}

.social--mob {
  display: none;
}

@media all and (max-width: 1810px) {
  .topHedRight {
    right: 10px;
  }

  .top-nav li {
    padding-right: 8%;
  }
}

@media all and (max-width: 1610px) {
  .topHedRight {
    position: static;
    float: right;
  }

  .topHedLeft {
    top: 82px;
    left: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .top-nav {
    text-align: left;
  }

  .top-nav li {
    padding-right: 3%;
  }

  .dropdown-menu {
    left: 0;
    width: 100%;
  }

  .social {
    right: 25px;
  }
}

@media screen and (max-width: 992px) {
  .topHedLeft {
    top: 10px;
  }

  .callbec {
    text-align: center;
  }

  .top-nav {
    text-align: center;
  }

  .topHedRight {
    position: static;
    float: none;
    display: block;
    width: 235px;
    margin: 0 auto;
  }

  .logo {
    text-align: center;
  }

  .social {
    top: 45px;
  }

  .mainMenu__li a {
    font-size: 16px;
  }

  .mainMenu__li {
    margin-right: 10px;
  }

  .mainMenu__li a i {
    padding-left: 10px;
  }

  .wrap-menuLeft {
    border: none;
  }

  .rightTableMenu a {
    padding-left: 40px;
  }

  .dropdown--pad {
    padding-right: 15px;
  }

  .dropdown--pad2 {
    padding-left: 15px;
  }
}

@media screen and (max-width: 640px) {
  .top-nav li {
    padding-right: 0;
    display: block;
    padding-bottom: 12px;
  }

  .topHedLeft {
    position: static;
    padding: 10px 0 0 10px;
  }

  .callbec__calbec {
    display: inline-block;
  }

  .mainMenu__li a i {
    display: none;
  }

  .mainMenu__li a {
    font-size: 14px;
  }

  .leftTableMenu a {
    padding: 12px 0 12px 20px;
  }

  .mainMenu__li a {
    font-size: 14px;
  }

  .rightTableMenu a {
    padding-left: 20px;
  }
}

@media screen and (max-width: 420px) {
  .mainMenu__li {
    margin-top: 8px;
  }

  .logo {
    text-align: center;
  }

  .social {
    display: none;
  }

  .social--mob {
    display: block;
    position: static;
    text-align: center;
    margin: 0 auto 20px;
  }

  .wrap-menuLeft {
    a {
      font-size: 10px;
      padding: 12px 0 12px 10px;
    }
  }

  .rightTableMenu a {
    padding-left: 10px;
  }

  .leftTableMenu {
    padding: 15px 0;
  }
}

@media screen and (max-width: 340px) {
  .topHedLeft {
    padding: 0;
  }

  .topHedLeft__bars {
    margin: 20px 0 20px 40px;
  }

  .number {
    padding-right: 0;
    display: block;
  }
}
// open call bec
.callbec{
  position: relative;
}
.callBacOpen--coloShadoPos{
  display: none;
  position: absolute;
  z-index: 99;
  width: 260px;
  height: 305px;
  box-shadow: 0 0 10px rgba(112, 107, 108, 0.4);
  background-color: #ffffff
}
.callBacOpen__tittle{
  color:@colorText;
  font-family: @abold;
  font-size: @f18;
  text-align:center;
  text-transform: uppercase;
  padding: 20px 0;
  margin-bottom: 0;
}
.callBacOpen__inp{
  width: 210px;
  height: 30px;
  border: 1px solid #b2b2b2;
  background-color: #ffffff;
  color: @text-grey;
  font-family: @alig;
  font-size: @f14;
  padding-left: 15px;
  margin:0 auto 10px;
  display: block;
}
.callBacMess{
  .callBacOpen__inp;
  width: 210px;
  height: 100px;
  resize: none;
}
.callBacOpen__send{
  width: 210px;
  height: 30px;
  border: 2px solid #141d22;
  margin:0 auto 10px;
  display: block;
  color: @colorText;
  font-family: @gbold;
  font-size: @f12;
  background: white;
  transition:background .3s, color .3s ;
  &:hover,
  &:active,
  &:focus{
    background: black;
    color: white;
  }
}
#callBackphone-error,
#callBacName-error{
  display: none!important;
}



