@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf"), url("fonts/Akrobat-Black.eot") format("embedded-opentype"), url("fonts/Akrobat-Black.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Bold";
  src: url("fonts/Akrobat-Bold.eot"), url("fonts/Akrobat-Bold.woff") format("woff"), url("fonts/Akrobat-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/Akrobat-Bold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraBold";
  src: url("fonts/Akrobat-ExtraBold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraLight";
  src: url("fonts/Akrobat-ExtraLight.otf");
}
@font-face {
  font-family: "Akrobat-Light";
  src: url("fonts/Akrobat-Light.otf"), url("fonts/Akrobat-Light.eot") format("embedded-opentype"), url("fonts/Akrobat-Light.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Regular";
  src: url("fonts/Akrobat-Regular.otf"), url("fonts/Akrobat-Regular.eot") format("embedded-opentype"), url("fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-SemiBold";
  src: url("fonts/Akrobat-SemiBold.otf");
}
@font-face {
  font-family: "Akrobat-Thin";
  src: url("fonts/Akrobat-Thin.otf");
}
@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf");
}
@font-face {
  font-family: "GothamProBlack";
  src: url("fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
}
@font-face {
  font-family: "GothamProBold";
  src: url("fonts/GothamProBold/GothamProBold.woff") format("woff"), url("fonts/GothamProBold/GothamProBold.ttf") format("truetype"), url("fonts/GothamProBold/GothamProBold.eot") format("embedded-opentype"), url("fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProRegular";
  src: url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype"), url("fonts/GothamProRegular/GothamProRegular.eot") format("embedded-opentype"), url("fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProLight";
  src: url("fonts/GothamProLight/GothamProLight.woff") format("woff"), url("fonts/GothamProLight/GothamProLight.ttf") format("truetype"), url("fonts/GothamProLight/GothamProLight.eot") format("embedded-opentype"), url("fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProMedium";
  src: url("fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("fonts/GothamProMedium/GothamProMedium.ttf") format("truetype"), url("fonts/GothamProMedium/GothamProMedium.eot") format("embedded-opentype"), url("fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype");
}
.topHeader--border {
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
}
.topHedLeft__bars {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 9;
}
.topHedLeft__bars:hover i {
  color: #bf1184;
}
.topHedLeft__bars i {
  font-size: 30px;
  color: black;
  transition: color .2s;
}
.clikMenu {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  width: 225px;
  height: auto;
  box-shadow: 0 0 10px rgba(112, 107, 108, 0.4);
  background-color: #ffffff;
  text-align: center;
  z-index: 99;
}
.clikMenu li {
  position: relative;
  margin-top: 10px;
  padding: 5px 0;
  cursor: pointer;
}
.clikMenu li:hover {
  background-color: #f7f7f7;
}
.clikMenu li:hover a {
  text-decoration: none;
  color: #bf1184;
}
.clikMenu li:last-child {
  margin-bottom: 20px;
}
.clikMenu li a {
  text-transform: uppercase;
  color: #323232;
  font-family: "GothamProBold", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.clikMenu__circle {
  font-size: 13px;
  position: absolute;
  font-family: "GothamProBold", sans-serif;
  top: -6px;
  right: 55px;
  font-style: normal;
  padding: 0 6px;
  border-radius: 100%;
  background: #bf1184;
  color: white;
}
.clikMenu__heart {
  background: url("../img/hearth-ic.png") no-repeat 0 6px;
  font-style: normal;
  font-family: "GothamProBold", sans-serif;
  color: white;
  padding: 7px;
  font-size: 11px;
  position: absolute;
  top: -7px;
}
.active-bars {
  color: #bf1184 !important;
}
.topHedLeft {
  position: absolute;
  top: 31px;
  left: 150px;
}
.number {
  font-family: "GothamProLight", sans-serif;
  font-size: 14px;
  color: #2d2d2d;
  padding-right: 12px;
}
.number:last-child {
  padding-right: 0;
}
.number:hover {
  color: #2d2d2d;
}
.callbec_wrapNumber {
  padding-top: 18px;
}
.callbec__text {
  font-family: "GothamProLight", sans-serif;
  font-size: 14px;
  color: #2d2d2d;
  padding-right: 12px;
  font-family: "GothamProMedium", sans-serif;
  margin-bottom: 0;
}
.callbec__text:last-child {
  padding-right: 0;
}
.callbec__text:hover {
  color: #2d2d2d;
}
.callbec__calbec {
  font-family: "GothamProLight", sans-serif;
  font-size: 14px;
  color: #2d2d2d;
  padding-right: 12px;
  font-family: "GothamProMedium", sans-serif;
  margin-bottom: 0;
  display: block;
  text-decoration: underline;
  color: #bf1184;
  text-transform: uppercase;
  padding-bottom: 12px;
}
.callbec__calbec:last-child {
  padding-right: 0;
}
.callbec__calbec:hover {
  color: #2d2d2d;
}
.callbec__calbec:hover,
.callbec__calbec:active,
.callbec__calbec:focus {
  text-decoration: none;
  color: #bf1184;
}
.top-nav {
  padding-top: 35px;
  text-align: right;
}
.top-nav li {
  display: inline-block;
  padding-right: 60px;
}
.top-nav li:last-child {
  padding-right: 0;
}
.top-nav li a {
  color: #2d2d2d;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
  text-decoration: underline;
  text-transform: uppercase;
  transition: color .3s;
}
.top-nav li a:hover,
.top-nav li a:active,
.top-nav li a:focus {
  color: #bf1184;
  text-decoration: none;
}
.topHedRight {
  position: absolute;
  top: 2px;
  right: 6%;
}
.topHedRight__basked {
  position: relative;
  margin: 26px 40px 26px 0;
  background: url("/catalog/view/theme/denis_shop/image/common/cart.png") no-repeat;
  display: inline-block;
  width: 26px;
  height: 26px;
}
.topHedRight__basked i {
  top: 15px;
  right: -10px;
}
.topHedRight__form {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}
.topHedRight__form input {
  color: #939393;
  font-family: "GothamProBold", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: none;
  width: 120px;
}
.topHedRight__form button {
  border: none;
  background: none;
  font-size: 22px;
}
@media all and (max-width: 520px) {
  .topHedLeft__bars {
    margin: 31px 0 31px 40px;
  }
  .clikMenu {
    top: 90px;
    left: 15px;
  }
  .topHedRight {
    margin-right: 0.7%;
  }
  .topHedRight__form input {
    width: 100px;
  }
}
.logo {
  display: block;
  text-align: center;
  margin: 20px auto 25px;
}
.middleHeader--pos {
  position: relative;
  width: 100%;
  box-shadow: 0 5px 10px rgba(112, 107, 108, 0.2);
}
.social {
  position: absolute;
  right: 150px;
  top: 80px;
}
.social div {
  display: inline-block;
  padding-right: 15px;
}
.social div:last-child {
  padding-right: 0;
}
.social div i {
  font-size: 20px;
  color: #323232;
  transition: color .3s;
}
.social div i:hover {
  color: #cdcdcd;
}
.mainMenu {
  position: relative;
  text-align: center;
  margin-bottom: 25px;
}
.mainMenu__li {
  display: inline-block;
  margin-right: 25px;
}
.mainMenu__li:last-child {
  margin-right: 0;
}
.mainMenu__li a {
  font-family: "GothamProBold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #323232;
  transition: color .2s;
}
.mainMenu__li a i {
  padding-left: 25px;
}
.mainMenu__li a:hover,
.mainMenu__li a:active,
.mainMenu__li a:focus {
  color: #bf1184;
  text-decoration: none;
}
.mainMenu__li a:hover i,
.mainMenu__li a:active i,
.mainMenu__li a:focus i {
  color: #323232;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 25px;
  left: 112px;
  width: 80%;
  height: auto;
  box-shadow: 0 0 10px rgba(112, 107, 108, 0.4);
  background: white;
  z-index: 99;
  transition: all .4s;
}
.leftTableMenu {
  width: 100%;
  text-align: left;
  padding: 35px 0;
}
.leftTableMenu li {
  padding-bottom: 6px;
}
.leftTableMenu li:hover {
  background-color: #f7f7f7;
}
.leftTableMenu .wrap-menuLeft__last-li {
  padding-bottom: 7px !important;
}
.leftTableMenu a {
  display: block;
  color: #8e8e8e;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 6px 0 6px 40px;
}
.leftTableMenu a:last-child {
  padding-bottom: 0;
}
.leftTableMenu a .leftTableMenu__right-span {
  padding-right: 30px;
}
.leftTableMenu a:hover .leftTableMenu__right-span {
  color: black;
}
.leftTableMenu .first-a {
  padding-top: 35px;
}
.leftTableMenu .last-a {
  padding-bottom: 35px;
}
.leftTableMenu__right-span {
  float: right;
}
.wrap-menuLeft {
  display: block;
  border-right: 1px solid #8e8e8e;
}
.rightTableMenu {
  text-align: left;
}
.rightTableMenu .wrap-menuLeft {
  border: none;
}
.rightTableMenu a {
  padding-left: 25px;
}
.dropdown--pad {
  padding-right: 0;
}
.dropdown--pad2 {
  padding-left: 0;
}
.social--mob {
  display: none;
}
@media all and (max-width: 1810px) {
  .topHedRight {
    right: 10px;
  }
  .top-nav li {
    padding-right: 8%;
  }
}
@media all and (max-width: 1610px) {
  .topHedRight {
    position: static;
    float: right;
  }
  .topHedLeft {
    top: 82px;
    left: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .top-nav {
    text-align: left;
  }
  .top-nav li {
    padding-right: 3%;
  }
  .dropdown-menu {
    left: 0;
    width: 100%;
  }
  .social {
    right: 25px;
  }
}
@media screen and (max-width: 992px) {
  .topHedLeft {
    top: 10px;
  }
  .callbec {
    text-align: center;
  }
  .top-nav {
    text-align: center;
  }
  .topHedRight {
    position: static;
    float: none;
    display: block;
    width: 235px;
    margin: 0 auto;
  }
  .logo {
    text-align: center;
  }
  .social {
    top: 45px;
  }
  .mainMenu__li a {
    font-size: 16px;
  }
  .mainMenu__li {
    margin-right: 10px;
  }
  .mainMenu__li a i {
    padding-left: 10px;
  }
  .wrap-menuLeft {
    border: none;
  }
  .rightTableMenu a {
    padding-left: 40px;
  }
  .dropdown--pad {
    padding-right: 15px;
  }
  .dropdown--pad2 {
    padding-left: 15px;
  }
}
@media screen and (max-width: 640px) {
  .top-nav li {
    padding-right: 0;
    display: block;
    padding-bottom: 12px;
  }
  .topHedLeft {
    position: static;
    padding: 10px 0 0 10px;
  }
  .callbec__calbec {
    display: inline-block;
  }
  .mainMenu__li a i {
    display: none;
  }
  .mainMenu__li a {
    font-size: 14px;
  }
  .leftTableMenu a {
    padding: 12px 0 12px 20px;
  }
  .mainMenu__li a {
    font-size: 14px;
  }
  .rightTableMenu a {
    padding-left: 20px;
  }
}
@media screen and (max-width: 420px) {
  .mainMenu__li {
    margin-top: 8px;
  }
  .logo {
    text-align: center;
  }
  .social {
    display: none;
  }
  .social--mob {
    display: block;
    position: static;
    text-align: center;
    margin: 0 auto 20px;
  }
  .wrap-menuLeft a {
    font-size: 10px;
    padding: 12px 0 12px 10px;
  }
  .rightTableMenu a {
    padding-left: 10px;
  }
  .leftTableMenu {
    padding: 15px 0;
  }
}
@media screen and (max-width: 340px) {
  .topHedLeft {
    padding: 0;
  }
  .topHedLeft__bars {
    margin: 20px 0 20px 40px;
  }
  .number {
    padding-right: 0;
    display: block;
  }
}
.callbec {
  position: relative;
}
.callBacOpen--coloShadoPos {
  display: none;
  position: absolute;
  z-index: 99;
  width: 260px;
  height: 305px;
  box-shadow: 0 0 10px rgba(112, 107, 108, 0.4);
  background-color: #ffffff;
}
.callBacOpen__tittle {
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  margin-bottom: 0;
}
.callBacOpen__inp {
  width: 210px;
  height: 30px;
  border: 1px solid #b2b2b2;
  background-color: #ffffff;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 14px;
  padding-left: 15px;
  margin: 0 auto 10px;
  display: block;
}
.callBacMess {
  height: 30px;
  border: 1px solid #b2b2b2;
  background-color: #ffffff;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 14px;
  padding-left: 15px;
  margin: 0 auto 10px;
  display: block;
  width: 210px;
  height: 100px;
  resize: none;
}
.callBacOpen__send {
  width: 210px;
  height: 30px;
  border: 2px solid #141d22;
  margin: 0 auto 10px;
  display: block;
  color: #141d22;
  font-family: "GothamProBold", sans-serif;
  font-size: 12px;
  background: white;
  transition: background .3s, color .3s ;
}
.callBacOpen__send:hover,
.callBacOpen__send:active,
.callBacOpen__send:focus {
  background: black;
  color: white;
}
#callBackphone-error,
#callBacName-error {
  display: none!important;
}
