@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf"), url("fonts/Akrobat-Black.eot") format("embedded-opentype"), url("fonts/Akrobat-Black.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Bold";
  src: url("fonts/Akrobat-Bold.eot"), url("fonts/Akrobat-Bold.woff") format("woff"), url("fonts/Akrobat-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/Akrobat-Bold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraBold";
  src: url("fonts/Akrobat-ExtraBold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraLight";
  src: url("fonts/Akrobat-ExtraLight.otf");
}
@font-face {
  font-family: "Akrobat-Light";
  src: url("fonts/Akrobat-Light.otf"), url("fonts/Akrobat-Light.eot") format("embedded-opentype"), url("fonts/Akrobat-Light.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Regular";
  src: url("fonts/Akrobat-Regular.otf"), url("fonts/Akrobat-Regular.eot") format("embedded-opentype"), url("fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-SemiBold";
  src: url("fonts/Akrobat-SemiBold.otf");
}
@font-face {
  font-family: "Akrobat-Thin";
  src: url("fonts/Akrobat-Thin.otf");
}
@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf");
}
@font-face {
  font-family: "GothamProBlack";
  src: url("fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
}
@font-face {
  font-family: "GothamProBold";
  src: url("fonts/GothamProBold/GothamProBold.woff") format("woff"), url("fonts/GothamProBold/GothamProBold.ttf") format("truetype"), url("fonts/GothamProBold/GothamProBold.eot") format("embedded-opentype"), url("fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProRegular";
  src: url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype"), url("fonts/GothamProRegular/GothamProRegular.eot") format("embedded-opentype"), url("fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProLight";
  src: url("fonts/GothamProLight/GothamProLight.woff") format("woff"), url("fonts/GothamProLight/GothamProLight.ttf") format("truetype"), url("fonts/GothamProLight/GothamProLight.eot") format("embedded-opentype"), url("fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProMedium";
  src: url("fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("fonts/GothamProMedium/GothamProMedium.ttf") format("truetype"), url("fonts/GothamProMedium/GothamProMedium.eot") format("embedded-opentype"), url("fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype");
}
.star-star1,
.star-star3 {
  display: inline-block;
  background: url('/catalog/view/theme/denis_shop/image/common/star.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.star-star1 {
  background-position: -3px 0px;
  width: 15px;
  height: 15px;
}
.star-star3 {
  background-position: -3px -18px;
  width: 15px;
  height: 15px;
}
.wrapCategoriesItem--border {
  border: 1px solid #cccccc;
}
.wrapCategoriesItem--border img {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding-top: 40px;
}
.wrap-img__span {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 7px;
  color: white;
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  background-color: #ea375c;
  z-index: 1;
}
.bloc-text__nameCategorie {
  text-align: center;
  text-transform: uppercase;
  color: #919191;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 16px;
  padding-top: 25px;
  margin: 0;
  padding-bottom: 10px;
}
.bloc-text__nameItem {
  font-family: "Akrobat-Regular", sans-serif;
  font-size: 18px;
  color: #141d22;
  text-align: center;
  padding-bottom: 10px;
  margin: 0;
}
.itemA:hover .wrapCategoriesItem {
  z-index: 999;
}
.itemA .wrapCategoriesItem {
  width: 270px;
}
.itemA .wrap-img {
  min-height: 263px;
  max-height: 264px;
}
.bloc-text {
  height: 180px;
  overflow: hidden;
  word-wrap: break-word;
  transition: height 1s;
}
.wrapCategoriesItem:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}
.wrapCategoriesItem:hover .bloc-text--mod {
  background: white;
}
.wrapCategoriesItem:hover .bloc-text {
  height: auto;
  z-index: 999;
}
.star {
  padding-bottom: 15px;
}
.bloc-text__price {
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin: 0;
}
.bloc-text__price span {
  color: #cccccc;
  text-decoration: line-through;
  padding-left: 10px;
}
.wrapAItem {
  width: 240px;
  position: absolute;
  bottom: 40px;
  left: 13%;
}
.add {
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: white;
  background: url("../img/cart-.png") no-repeat 12px;
  padding-left: 22px;
  width: 110px;
  height: 30px;
  border: 1px solid white;
  display: inline-block;
  padding-top: 5px;
  text-align: center;
}
.add:hover,
.add:focus,
.add:active {
  color: white;
}
.scale {
  position: relative;
  top: 1px;
  display: inline-block;
  padding: 0 10px;
  border: 1px solid white;
  color: white;
  font-size: 20px;
}
.scale:hover,
.scale:focus,
.scale:active {
  color: white;
}
.lupe {
  position: relative;
  top: 1px;
  display: inline-block;
  padding: 0 10px;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  padding: 0 8px;
}
.lupe:hover,
.lupe:focus,
.lupe:active {
  color: white;
}
.wrap-img__span--popular {
  background: #2fe2ff;
}
.twoslidBanner img {
  height: 520px;
  width: 277px;
}
.sliderCategories {
  padding-bottom: 140px;
}
.blocCategories-h2--noMar {
  margin-top: 0;
}
.wrapAItem__selectItem {
  color: white;
  font-family: "GothamProRegular", sans-serif;
  font-size: 12px;
  width: 196px;
  height: 30px;
  border: 1px solid #ffffff;
  background: url("../img/selectItem.png") no-repeat 90% center;
  margin-top: 5px;
  cursor: pointer;
}
.wrapAItem .jq-selectbox__select {
  padding-left: 10px;
  padding-top: 5px;
}
.wrapAItem .jq-selectbox__dropdown {
  border: 1px solid white;
  width: 100%;
  top: 28px;
}
.wrapAItem .jq-selectbox__dropdown li {
  padding-left: 6px;
}
.wrapTara {
  width: 230px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px auto;
}
.wrapTara__item {
  width: 60px;
  height: 30px;
  border: 1px solid #141d22;
  font-family: "GothamProRegular", sans-serif;
  font-size: 12px;
  color: #141d22;
  padding-top: 6px;
}
.wrapTara__item:hover {
  color: #141d22;
}
.wrapTara__item--active {
  border-color: #ea375c;
  color: #ea375c;
}
@media screen and (max-width: 1200px) {
  .itemA .wrapCategoriesItem {
    width: 95%;
  }
  .twoslidBanner img {
    height: 460px;
    width: 222px;
  }
}
@media screen and (max-width: 992px) {
  .wrapAItem {
    width: 100%;
    position: static;
    bottom: 40px;
    left: 47px;
    margin: 200px auto;
    display: block;
    text-align: center;
  }
  .hidden-s {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .blocCategories-h2 {
    font-size: 34px;
  }
}
