@import "variables";

.star-star1, .star-star3
{ display: inline-block; background: url('/catalog/view/theme/denis_shop/image/common/star.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.star-star1 { background-position: -3px -0px; width: 15px; height: 15px; }
.star-star3 { background-position: -3px -18px; width: 15px; height: 15px; }
.wrapCategoriesItem--border{
  border: 1px solid #cccccc;
  img{
    width: auto;
    height: auto;
    margin: 0 auto;
    padding-top: 40px;
  }
}
.wrap-img__span{
  position: absolute;
  top:15px;
  left: 15px;
  padding: 0 7px;
  color:@whitet;
  font-family: @greg;
  font-size: 14px;
  background-color: #ea375c;
  z-index: 1;
}
.bloc-text__nameCategorie{
  text-align: center;
  text-transform: uppercase;
  color: #919191;
  font-family: @alig;
  font-size: @f16;
  padding-top: 25px;
  margin: 0;
  padding-bottom: 10px;
}
.bloc-text__nameItem{
  font-family: @areg;
  font-size: @f18;
  color: @colorText;
  text-align: center;
  padding-bottom: 10px;
  margin: 0;
}
.itemA{
  &:hover{
    .wrapCategoriesItem{

      z-index: 999;
    }
  }
  .wrapCategoriesItem {
    width: 270px;
  }
  .wrap-img{
    min-height: 263px;
    max-height: 264px
  }

}
.bloc-text{
  height: 180px;
  overflow: hidden;
  word-wrap: break-word;
  transition: height 1s;

}
.wrapCategoriesItem{
  &:hover{
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    .bloc-text--mod{
      background: @white;
    }
    .bloc-text{
      height: auto;
      z-index:999;
    }
  }
}
.star{
  padding-bottom: 15px;
}
.bloc-text__price{
  color: @colorText;
  font-family: @abold;
  font-size: @f30;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin: 0;
  span{
    color: @cc;
    text-decoration: line-through;
    padding-left: 10px;
  }
}
.wrapAItem{
  width: 240px;
  position: absolute;
  bottom: 40px;
  left: 13%;
}
.add{
  font-family: @greg;
  font-size: @f14;
  color: @whitet;
  background: url("../img/cart-.png")no-repeat 12px;
  padding-left: 22px;
  width: 110px;
  height: 30px;
  border: 1px solid @white;
  display: inline-block;
  padding-top: 5px;
  text-align: center;
  &:hover,
  &:focus,
  &:active{
    color: @whitet;
  }
}
.scale{
  position: relative;
  top: 1px;
  display: inline-block;
  padding: 0 10px;
  border: 1px solid @white;
  color: @whitet;
  font-size: @f20;
  &:hover,
  &:focus,
  &:active{
    color: @whitet;
  }
}
.lupe{
  .scale;
  padding: 0 8px;
}
.wrap-img__span--popular{
  background: @popularBg;
}
.twoslidBanner{
  img{
    height:520px;
    width: 277px;
  }
}
.sliderCategories{
  padding-bottom: 140px;
}
.blocCategories-h2--noMar{
  margin-top: 0;
}
.wrapAItem__selectItem{
  color: @whitet;
  font-family: @greg;
  font-size: @f12;
  width: 196px;
  height: 30px;
  border: 1px solid #ffffff;
  background: url("../img/selectItem.png")no-repeat 90% center;
  margin-top: 5px;
  cursor:pointer;
}
.wrapAItem{
  .jq-selectbox__select{
    padding-left: 10px;
    padding-top: 5px;
  }
  .jq-selectbox__dropdown{
    border: 1px solid white;
    width: 100%;
    top: 28px;
    li{
      padding-left: 6px;
    }
  }
}
.wrapTara{
  width: 230px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px auto;
}
.wrapTara__item{
  width: 60px;
  height: 30px;
  border: 1px solid #141d22;
  font-family: @greg;
  font-size: @f12;
  color:#141d22;
  padding-top: 6px;
  &:hover{
    color:#141d22;
  }
}
.wrapTara__item--active{
  border-color:#ea375c;
  color:#ea375c;
}
@media  screen and (max-width: 1200px) {
  .itemA .wrapCategoriesItem {
    width: 95%;
  }
  .twoslidBanner img {
    height: 460px;
    width: 222px;
  }
}
@media  screen and (max-width: 992px) {
  .wrapAItem {
    width: 100%;
    position: static;
    bottom: 40px;
    left: 47px;
    margin: 200px auto;
    display: block;
    text-align: center;
  }
  .hidden-s{
    display: none;
  }
}
@media  screen and (max-width: 768px){
  .blocCategories-h2{
    font-size: 34px;
  }
}

