@import "variables";

.mainSlider {
  position: relative;
}

.wrapMainBloc {
  position: relative;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right, #b0dbe2 0%, #e2c1b8 100%);
  overflow: hidden;
}

.safari .wrapMainBloc {
  background: url("../img/bg-ll.jpg") no-repeat;
  background-size: cover;
}

.wrapMainBloc__img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 940px;
  width: 100%;
}

.linear--style {
  max-width: 470px;
  height: 1px;
  background-color: @white;
  margin-top: 125px;
  margin-bottom: 20px;
}

.linear__strong {
  max-width: 50px;
  height: 3px;
  background-color: @white;
}

.wrapMainText__slogan {
  max-width: 470px;
  color: @white;
  font-family: @alig;
  font-size: @f40;
  line-height: 40px;
  text-transform: uppercase;
  padding-bottom: 60px;
  margin: 0;
  span {
    font-family: @abold;
  }
}

.wrapMainText__h1 {
  max-width: 539px;
  color: @white;
  font-family: @abold;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  padding-bottom: 40px;
  margin: 0;
}

.wrapMainText__dopText {
  width: 354px;
  color: @text-grey;
  font-family: @alig;
  font-size: @f18;
  padding-bottom: 180px;
  margin: 0;
}

.enter {
  color: @black;
  font-family: @gbold;
  font-size: @f18;
  text-transform: uppercase;
  background: @white;
  padding: 30px 0;
  text-align: center;
  width: 300px;
  display: block;
  margin: 0 auto;
  &:hover,
  &:active,
  &:focus {
    color: @black;

  }
}

.container--pos {
  position: relative;
}

.wrap-sectionSkider {
  position: relative;
  background-image: linear-gradient(to right, #b0dbe2 0%, #e2c1b8 100%);
  background-image: -moz-linear-gradient(to right, #b0dbe2 0%, #e2c1b8 100%);
  background-image: -webkit-linear-gradient(to right, #b0dbe2 0%, #e2c1b8 100%);
}

.wrapbtnSlider {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}

.mainSlider > .slick-dots {
  display: block;
  bottom: 150px;
  top: auto;
  right: 45%;
}

.mainSlider > .slick-dots li::before {
  content: "•" !important; //переопределение стилей слайдера
  font-size: 34px !important; //переопределение стилей слайдера
  color: white !important; //переопределение стилей слайдера
}

.mainSlider > ul .slick-active::before {
  position: relative;
  color: #ea375c !important; //переопределение стилей слайдера
  font-size: 40px !important; //переопределение стилей слайдера
  top: 2px;
  left: -1px;
}

@media screen and(max-width: 1600px) {
  .wrapMainBloc__img {
    opacity: .3;
  }
}

@media screen and(max-width: 992px) {
  .slick-slide .wrapMainBloc__img {
    display: none;
  }
  .slick-slide .wrapMainText__dopText {
    padding-bottom: 200px;
    text-align: center;
    margin: 0 auto;
  }
  .linear--style{
    margin: 60px auto 20px;
  }
  .wrapMainText__slogan,
  .wrapMainText__h1{
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and(max-width: 580px) {
  .wrapMainText__h1 {
    font-size: 5em;
    line-height: 85px;
  }
}

@media all and(max-width: 420px) {
  .wrapMainText__slogan {
    text-align: center;
    font-size: 28px;
    padding-bottom: 25px;
  }

  .wrapMainText__h1 {
    font-size: 3.8em;
    line-height: 60px;
    text-align: center;
  }

  .wrapMainText__dopText {
    text-align: center;
    width: 100%;
    padding-bottom: 70px;
  }
  .linear__strong{
    margin: 0 auto;
  }
  .slick-slide .wrapMainText__dopText{
    padding-bottom: 120px;
  }
}