@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf"), url("fonts/Akrobat-Black.eot") format("embedded-opentype"), url("fonts/Akrobat-Black.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Bold";
  src: url("fonts/Akrobat-Bold.eot"), url("fonts/Akrobat-Bold.woff") format("woff"), url("fonts/Akrobat-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/Akrobat-Bold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraBold";
  src: url("fonts/Akrobat-ExtraBold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraLight";
  src: url("fonts/Akrobat-ExtraLight.otf");
}
@font-face {
  font-family: "Akrobat-Light";
  src: url("fonts/Akrobat-Light.otf"), url("fonts/Akrobat-Light.eot") format("embedded-opentype"), url("fonts/Akrobat-Light.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Regular";
  src: url("fonts/Akrobat-Regular.otf"), url("fonts/Akrobat-Regular.eot") format("embedded-opentype"), url("fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-SemiBold";
  src: url("fonts/Akrobat-SemiBold.otf");
}
@font-face {
  font-family: "Akrobat-Thin";
  src: url("fonts/Akrobat-Thin.otf");
}
@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf");
}
@font-face {
  font-family: "GothamProBlack";
  src: url("fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
}
@font-face {
  font-family: "GothamProBold";
  src: url("fonts/GothamProBold/GothamProBold.woff") format("woff"), url("fonts/GothamProBold/GothamProBold.ttf") format("truetype"), url("fonts/GothamProBold/GothamProBold.eot") format("embedded-opentype"), url("fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProRegular";
  src: url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype"), url("fonts/GothamProRegular/GothamProRegular.eot") format("embedded-opentype"), url("fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProLight";
  src: url("fonts/GothamProLight/GothamProLight.woff") format("woff"), url("fonts/GothamProLight/GothamProLight.ttf") format("truetype"), url("fonts/GothamProLight/GothamProLight.eot") format("embedded-opentype"), url("fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProMedium";
  src: url("fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("fonts/GothamProMedium/GothamProMedium.ttf") format("truetype"), url("fonts/GothamProMedium/GothamProMedium.eot") format("embedded-opentype"), url("fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype");
}
.mainSlider {
  position: relative;
}
.wrapMainBloc {
  position: relative;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right, #b0dbe2 0%, #e2c1b8 100%);
  overflow: hidden;
}
.safari .wrapMainBloc {
  background: url("../img/bg-ll.jpg") no-repeat;
  background-size: cover;
}
.wrapMainBloc__img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 940px;
  width: 100%;
}
.linear--style {
  max-width: 470px;
  height: 1px;
  background-color: white;
  margin-top: 125px;
  margin-bottom: 20px;
}
.linear__strong {
  max-width: 50px;
  height: 3px;
  background-color: white;
}
.wrapMainText__slogan {
  max-width: 470px;
  color: white;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  padding-bottom: 60px;
  margin: 0;
}
.wrapMainText__slogan span {
  font-family: "Akrobat-Bold", sans-serif;
}
.wrapMainText__h1 {
  max-width: 539px;
  color: white;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 100px;
  line-height: 100px;
  text-transform: uppercase;
  padding-bottom: 40px;
  margin: 0;
}
.wrapMainText__dopText {
  width: 354px;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  padding-bottom: 180px;
  margin: 0;
}
.enter {
  color: #323232;
  font-family: "GothamProBold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  background: white;
  padding: 30px 0;
  text-align: center;
  width: 300px;
  display: block;
  margin: 0 auto;
}
.enter:hover,
.enter:active,
.enter:focus {
  color: #323232;
}
.container--pos {
  position: relative;
}
.wrap-sectionSkider {
  position: relative;
  background-image: linear-gradient(to right, #b0dbe2 0%, #e2c1b8 100%);
  background-image: -moz-linear-gradient(to right, #b0dbe2 0%, #e2c1b8 100%);
  background-image: -webkit-linear-gradient(to right, #b0dbe2 0%, #e2c1b8 100%);
}
.wrapbtnSlider {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}
.mainSlider > .slick-dots {
  display: block;
  bottom: 150px;
  top: auto;
  right: 45%;
}
.mainSlider > .slick-dots li::before {
  content: "•" !important;
  font-size: 34px !important;
  color: white !important;
}
.mainSlider > ul .slick-active::before {
  position: relative;
  color: #ea375c !important;
  font-size: 40px !important;
  top: 2px;
  left: -1px;
}
@media screen and (max-width: 1600px) {
  .wrapMainBloc__img {
    opacity: .3;
  }
}
@media screen and (max-width: 992px) {
  .slick-slide .wrapMainBloc__img {
    display: none;
  }
  .slick-slide .wrapMainText__dopText {
    padding-bottom: 200px;
    text-align: center;
    margin: 0 auto;
  }
  .linear--style {
    margin: 60px auto 20px;
  }
  .wrapMainText__slogan,
  .wrapMainText__h1 {
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 580px) {
  .wrapMainText__h1 {
    font-size: 5em;
    line-height: 85px;
  }
}
@media all and (max-width: 420px) {
  .wrapMainText__slogan {
    text-align: center;
    font-size: 28px;
    padding-bottom: 25px;
  }
  .wrapMainText__h1 {
    font-size: 3.8em;
    line-height: 60px;
    text-align: center;
  }
  .wrapMainText__dopText {
    text-align: center;
    width: 100%;
    padding-bottom: 70px;
  }
  .linear__strong {
    margin: 0 auto;
  }
  .slick-slide .wrapMainText__dopText {
    padding-bottom: 120px;
  }
}
