@import "variables";
@import "../../bower_components/arcticModal/arcticmodal/jquery.arcticmodal.css";
@import "../../bower_components/arcticModal/arcticmodal/themes/simple.css";
//popup register
.mfp-content{
  max-width:  800px;
  width: 100%;
}
.mainPop{
  .mfp-content{
    max-width: 1170px;
    width: 100%;
  }
}

.white-popup {
  max-width: 800px;
  width: 100%;
  height: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}
.white-popup2{
  max-width: 800px;
  width: 100%;
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

.popupBannerRegister {
  max-width: 300px;
  max-height: 500px;
  display: inline-block;
  img {
    width: 100%;
    height: auto;
  }
}

.formRegisterPopp {
  display: inline-block;
  margin: 0 auto;
  max-width: 495px;
  width: 100%;
  vertical-align: top;
}

.formRegisterPopp__h3 {
  color: @colorText;
  font-family: @abold;
  font-size: @f30;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}

.formRegisterPopp__tittle {
  max-width: 276px;
  color: @text-grey;
  font-family: @alig;
  font-size: @f18;
  text-align: center;
  margin: 10px auto 20px;
}

.login {
  display: block;
  margin: 0 auto 22px;
  max-width: 340px;
  width: 100%;
  height: 41px;
  border: 1px solid #b2b2b2;
  background-color: #ffffff;
  color: #626262;
  font-family: @alig;
  font-size: 18px;
  padding-left: 25px;
}

.pass {
  .login
}

.mfp-close {
  font-size: 44px;
}

.jq-checkbox__div {
  width: 20px;
  height: 20px;
  border: 1px solid #b2b2b2;

}

.formRegisterPopp {
  label {
    vertical-align: top;
    color: #626262;
    font-family: @alig;
    font-size: 18px;
    position: relative;
    top: -4px;
    left: 8px;
    cursor: pointer;
  }
  .jq-checkbox {
    margin-left: 78px;
  }
  .jq-checkbox.checked {
    background: url("../img/chec.png") no-repeat center;
  }
  .enterPopup {
    display: block;
    color: @colorText;
    font-family: @gbold;
    font-size: @f14;
    width: 134px;
    height: 41px;
    border: 2px solid #141d22;
    margin-left: 78px;
    margin-top: 20px;
    background: transparent;
    margin-bottom: 20px;
    transition: color .2s, background .2s, border .2s;
    &:hover,
    &:active,
    &:focus {
      border: 2px solid transparent;
      background: @colorText;
      color: @whitet;
    }
  }
  .wrapBottomFormRegister__text {
    max-width: 215px;
    font-family: @alig;
    font-size: @f18;
    color: #b5b5b5;
    text-align: center;
    margin: 0 auto;
    a {
      color: #626262;
      text-decoration: underline;
      &:hover {
        color: #626262;
        text-decoration: none;
      }
    }
  }
  .wrapBottomFormRegister__rememberPass {
    margin-top: 25px;
    color: #b5b5b5;
    font-family: @alig;
    font-size: @f18;
    text-decoration: underline;
    text-align: center;
    display: block;
    &:hover {
      color: @feol;
      text-decoration: none;
    }
  }
}
.containerPopup{
  width: 100%;
  background: url("../img/bg-popExit.jpg")no-repeat;
  background-size: cover;
  .blockEmail__tittle{
    max-width: 592px;
    margin: 0 auto;
    padding-top: 60px;
    color: @colorText;
    font-size: 30px;
  }
  .blockEmail__tittleSocial{
    color: @colorText;
    font-size: 30px;
  }
  .emailto{
    margin: 0 auto 30px;
  }
  .wrapSocialMail{
    margin-bottom: 0;
    padding-bottom: 50px;
  }
}
//modal exit
.white-popup2 {
     height: auto;
}
//modal item
.containerpop{
  max-width: 1170px;
  width: 100%;
  background: white;
}
.modal-dialog{
  max-width: 1170px;
  width: 100%;
}
.modal-content{
  border-radius: 0;
  .padNo{
    padding-left: 15px;
    padding-right: 15px;
  }
}
.modal-header{
  border:none;
  .close{
    margin-top: -14px;
    position: absolute;
    right: 15px;
    border: none;
    background: no-repeat;
    font-size: 40px;
    &:hover{
      color: @feol;
    }
  }
}

//modal Basced
.tittleBasket{
  color: @colorText;
  font-family: @abold;
  font-size: @f30;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.wrapHideBaskedContent{
  max-width: 760px;
  width: 100%;
  max-height: 365px;
  overflow-y: auto;
  margin: 0 auto;
}
.modal-content--basked{
  max-width: 900px;
  margin: 0 auto;
}


.wrapHideBaskedContent__item{
  max-width: 720px;
  border-top:1px solid #c7c7c7;
  margin-top: 20px;
}
.wrapHideBaskedContent__img{
  position: relative;
  width: 130px;
  height: 130px;
  border: 1px solid #c7c7c7;
  margin-top: 20px;
  img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin:auto;
    width: 100%;
  }
}
.contentBasked__tittle{
  margin-top: 20px;
  color: @colorText;
  font-family: @abold;
  font-size: @f18;
  text-transform: uppercase;
  span{
    font-family: @alig;
  }
}
.contentBasked__text{
  color: @colorText;
  font-family: @areg;
  font-size: @f14;
  span{
    color: #b5b5b5;
  }
}
.wrapBtn--Basced{
  padding-right: 0;
  margin-left: 30px;
}
.priceBasked{
  position: relative;
}
.priceBasked__text{
  color: @colorText;
  font-family: @abold;
  font-size: @f18;
  text-align: right;
  text-transform: uppercase;
  padding-right: 30px;
  margin-top: 20px;
}
.priceBasked__delete{
  background: url("../img/close.png")no-repeat;
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.wrapResascet{
  max-width: 760px;
  width: 100%;
  margin: 20px auto 40px;
  display: flex;
  justify-content: space-between;
  p{
    color: @colorText;
    font-family: @abold;
    font-size: @f18;
    text-transform: uppercase;
  }
  .priceRes{
    padding-right: 40px;
  }
}
.nextProuct{
  color: #b5b5b5;
  font-family: @alig;
  font-size: @f18;
  text-decoration: underline;
  text-align: center;
  display: block;
  &:hover{
    color: #b5b5b5;
    text-decoration: none;
  }
}
@media all and (max-width: 820px){
  .popupBannerRegister{
    display: none;
  }
  .formRegisterPopp{
    max-width: 100%;
  }
  .formRegisterPopp .jq-checkbox {
    margin-left: 0;
  }
  .formRegisterPopp label{
    top: -3px;
  }
  .formRegisterPopp .enterPopup{
    margin-left: 0;
  }
  .wrap-form{
    width: 100%;
    max-width: 336px;
    margin: 0 auto;
  }
}
@media all and (max-width: 490px){
  .white-popup2{
    .email{
      width: 96%;
      margin: 0 auto 20px;
    }
  }

}
@media all and (max-width: 360px){
  .formRegisterPopp {
    max-width: 95%;
    margin: 0 auto;
    display: block;
  }
}