@import "../../bower_components/arcticModal/arcticmodal/jquery.arcticmodal.css";
@import "../../bower_components/arcticModal/arcticmodal/themes/simple.css";
@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf"), url("fonts/Akrobat-Black.eot") format("embedded-opentype"), url("fonts/Akrobat-Black.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Bold";
  src: url("fonts/Akrobat-Bold.eot"), url("fonts/Akrobat-Bold.woff") format("woff"), url("fonts/Akrobat-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/Akrobat-Bold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraBold";
  src: url("fonts/Akrobat-ExtraBold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraLight";
  src: url("fonts/Akrobat-ExtraLight.otf");
}
@font-face {
  font-family: "Akrobat-Light";
  src: url("fonts/Akrobat-Light.otf"), url("fonts/Akrobat-Light.eot") format("embedded-opentype"), url("fonts/Akrobat-Light.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Regular";
  src: url("fonts/Akrobat-Regular.otf"), url("fonts/Akrobat-Regular.eot") format("embedded-opentype"), url("fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-SemiBold";
  src: url("fonts/Akrobat-SemiBold.otf");
}
@font-face {
  font-family: "Akrobat-Thin";
  src: url("fonts/Akrobat-Thin.otf");
}
@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf");
}
@font-face {
  font-family: "GothamProBlack";
  src: url("fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
}
@font-face {
  font-family: "GothamProBold";
  src: url("fonts/GothamProBold/GothamProBold.woff") format("woff"), url("fonts/GothamProBold/GothamProBold.ttf") format("truetype"), url("fonts/GothamProBold/GothamProBold.eot") format("embedded-opentype"), url("fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProRegular";
  src: url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype"), url("fonts/GothamProRegular/GothamProRegular.eot") format("embedded-opentype"), url("fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProLight";
  src: url("fonts/GothamProLight/GothamProLight.woff") format("woff"), url("fonts/GothamProLight/GothamProLight.ttf") format("truetype"), url("fonts/GothamProLight/GothamProLight.eot") format("embedded-opentype"), url("fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProMedium";
  src: url("fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("fonts/GothamProMedium/GothamProMedium.ttf") format("truetype"), url("fonts/GothamProMedium/GothamProMedium.eot") format("embedded-opentype"), url("fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype");
}
.mfp-content {
  max-width: 800px;
  width: 100%;
}
.mainPop .mfp-content {
  max-width: 1170px;
  width: 100%;
}
.white-popup {
  max-width: 800px;
  width: 100%;
  height: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}
.white-popup2 {
  max-width: 800px;
  width: 100%;
  height: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.popupBannerRegister {
  max-width: 300px;
  max-height: 500px;
  display: inline-block;
}
.popupBannerRegister img {
  width: 100%;
  height: auto;
}
.formRegisterPopp {
  display: inline-block;
  margin: 0 auto;
  max-width: 495px;
  width: 100%;
  vertical-align: top;
}
.formRegisterPopp__h3 {
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}
.formRegisterPopp__tittle {
  max-width: 276px;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 10px auto 20px;
}
.login {
  display: block;
  margin: 0 auto 22px;
  max-width: 340px;
  width: 100%;
  height: 41px;
  border: 1px solid #b2b2b2;
  background-color: #ffffff;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  padding-left: 25px;
}
.pass {
  display: block;
  margin: 0 auto 22px;
  max-width: 340px;
  width: 100%;
  height: 41px;
  border: 1px solid #b2b2b2;
  background-color: #ffffff;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  padding-left: 25px;
}
.mfp-close {
  font-size: 44px;
}
.jq-checkbox__div {
  width: 20px;
  height: 20px;
  border: 1px solid #b2b2b2;
}
.formRegisterPopp label {
  vertical-align: top;
  color: #626262;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  position: relative;
  top: -4px;
  left: 8px;
  cursor: pointer;
}
.formRegisterPopp .jq-checkbox {
  margin-left: 78px;
}
.formRegisterPopp .jq-checkbox.checked {
  background: url("/catalog/view/theme/denis_shop/image/common/chec.png") no-repeat center;
}
.formRegisterPopp .enterPopup {
  display: block;
  color: #141d22;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
  width: 134px;
  height: 41px;
  border: 2px solid #141d22;
  margin-left: 78px;
  margin-top: 20px;
  background: transparent;
  margin-bottom: 20px;
  transition: color .2s, background .2s, border .2s;
}
.formRegisterPopp .enterPopup:hover,
.formRegisterPopp .enterPopup:active,
.formRegisterPopp .enterPopup:focus {
  border: 2px solid transparent;
  background: #141d22;
  color: white;
}
.formRegisterPopp .wrapBottomFormRegister__text {
  max-width: 215px;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  color: #b5b5b5;
  text-align: center;
  margin: 0 auto;
}
.formRegisterPopp .wrapBottomFormRegister__text a {
  color: #626262;
  text-decoration: underline;
}
.formRegisterPopp .wrapBottomFormRegister__text a:hover {
  color: #626262;
  text-decoration: none;
}
.formRegisterPopp .wrapBottomFormRegister__rememberPass {
  margin-top: 25px;
  color: #b5b5b5;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  text-decoration: underline;
  text-align: center;
  display: block;
}
.formRegisterPopp .wrapBottomFormRegister__rememberPass:hover {
  color: #bf1184;
  text-decoration: none;
}
.containerPopup {
  width: 100%;
  background: url("/catalog/view/theme/denis_shop/image/common/bg-popExit.jpg") no-repeat;
  background-size: cover;
}
.containerPopup .blockEmail__tittle {
  max-width: 592px;
  margin: 0 auto;
  padding-top: 60px;
  color: #141d22;
  font-size: 30px;
}
.containerPopup .blockEmail__tittleSocial {
  color: #141d22;
  font-size: 30px;
}
.containerPopup .emailto {
  margin: 0 auto 30px;
}
.containerPopup .wrapSocialMail {
  margin-bottom: 0;
  padding-bottom: 50px;
}
.white-popup2 {
  height: auto;
}
.containerpop {
  max-width: 1170px;
  width: 100%;
  background: white;
}
.modal-dialog {
  max-width: 1170px;
  width: 100%;
}
.modal-content {
  border-radius: 0;
}
.modal-content .padNo {
  padding-left: 15px;
  padding-right: 15px;
}
.modal-header {
  border: none;
}
.modal-header .close {
  margin-top: -14px;
  position: absolute;
  right: 15px;
  border: none;
  background: no-repeat;
  font-size: 40px;
}
.modal-header .close:hover {
  color: #bf1184;
}
.tittleBasket {
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.wrapHideBaskedContent {
  max-width: 760px;
  width: 100%;
  max-height: 365px;
  overflow-y: auto;
  margin: 0 auto;
}
.modal-content--basked {
  max-width: 900px;
  margin: 0 auto;
}
.wrapHideBaskedContent__item {
  max-width: 720px;
  border-top: 1px solid #c7c7c7;
  margin-top: 20px;
}
.wrapHideBaskedContent__img {
  position: relative;
  width: 130px;
  height: 130px;
  border: 1px solid #c7c7c7;
  margin-top: 20px;
}
.wrapHideBaskedContent__img img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}
.contentBasked__tittle {
  margin-top: 20px;
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.contentBasked__tittle span {
  font-family: "Akrobat-Light", sans-serif;
}
.contentBasked__text {
  color: #141d22;
  font-family: "Akrobat-Regular", sans-serif;
  font-size: 14px;
}
.contentBasked__text span {
  color: #b5b5b5;
}
.wrapBtn--Basced {
  padding-right: 0;
  margin-left: 30px;
}
.priceBasked {
  position: relative;
}
.priceBasked__text {
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 18px;
  text-align: right;
  text-transform: uppercase;
  padding-right: 30px;
  margin-top: 20px;
}
.priceBasked__delete {
  background: url("/catalog/view/theme/denis_shop/image/common/close.png") no-repeat;
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.wrapResascet {
  max-width: 760px;
  width: 100%;
  margin: 20px auto 40px;
  display: flex;
  justify-content: space-between;
}
.wrapResascet p {
  color: #141d22;
  font-family: "Akrobat-Bold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.wrapResascet .priceRes {
  padding-right: 40px;
}
.nextProuct {
  color: #b5b5b5;
  font-family: "Akrobat-Light", sans-serif;
  font-size: 18px;
  text-decoration: underline;
  text-align: center;
  display: block;
}
.nextProuct:hover {
  color: #b5b5b5;
  text-decoration: none;
}
@media all and (max-width: 820px) {
  .popupBannerRegister {
    display: none;
  }
  .formRegisterPopp {
    max-width: 100%;
  }
  .formRegisterPopp .jq-checkbox {
    margin-left: 0;
  }
  .formRegisterPopp label {
    top: -3px;
  }
  .formRegisterPopp .enterPopup {
    margin-left: 0;
  }
  .wrap-form {
    width: 100%;
    max-width: 336px;
    margin: 0 auto;
  }
}
@media all and (max-width: 490px) {
  .white-popup2 .email {
    width: 96%;
    margin: 0 auto 20px;
  }
}
@media all and (max-width: 360px) {
  .formRegisterPopp {
    max-width: 95%;
    margin: 0 auto;
    display: block;
  }
}
