@import "variables";

.blocCategories-h2 {
  color: @colorText;
  font-size: @f40;
  font-family: @alig;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 160px;
  span{
    font-family: @abold;
  }
}
.sliderCategories{
  display: inline-block;
  margin-bottom: 60px;
}
.wrapLinearBlack{
  margin-bottom: 50px;
  background: #c7c7c7;
  width: 100%;
  height: 1px;
}
.wrapLinearBlack__bold{
  background: #ea375c;
  width: 50px;
  height: 3px;
  margin-bottom: 45px;
}

.wrapCategoriesItem{
  position: relative;
  display: block;
  width: 285px;
  img{
    width: 100%;
  }
}
.bloc-text{
  text-align: center;
  background: transparent;
  transition: background .3s;
}
.wrapCategoriesItem__text{
  text-transform: uppercase;
  width: 185px;
  margin: 0 auto;
  font-size: @f30;
  color: @colorText;
  text-align: center;
  font-family: @abold;
  padding: 40px 0 30px 0;
}
.wrapCategoriesItem__btn{
  font-family: @gbold;
  font-size: @f14;
  color: @colorText;
  background: @white;
  width: 134px;
  height: 41px;
  border: 2px solid @colorText;
  display: inline-block;
  margin: 0 auto 40px;
  transition: all .3s;
  padding-top: 7px;
}
.wrap-img{
  position: relative;
}
.wrapCategoriesItem__mask{
  background-color:rgba(0,0,0,.3);
  height:100%;
  position:absolute;
  width:100%;
  top:0;
  left:0;
  opacity: 0;
  transition: opacity .3s;
}
.itemLinearHover{
  opacity: 0;
  background: @colorText;
  width: 100%;
  height: 1px;
  transition:opacity .3s ;
}
.itemLinearHover__bold{
  position: relative;
  margin: 0 auto;
  display: block;
  width: 50px;
  height: 3px;
  background: @colorText;
}
.sliderCategories:hover{
  a{
    text-decoration: none;
  }
  .itemLinearHover{
    opacity: 1;
  }
  .wrapCategoriesItem__mask{
    opacity: 1;
  }
  .bloc-text{
    background: rgba(226,193,184,.3);
    text-decoration: none;
  }
  .wrapCategoriesItem__btn{
    color: @white;
    background:@colorText;
  }
}
.slicSlider{
  position: relative;
}
.prew1,
.next1{
  display: inline-block;
  cursor: pointer;
  color: #959595;
  font-size: 28px;
  background: transparent;
  padding: 5px 20px;
  border-radius: 100%;
  transition: all .3s;
}
.prew1{
  position: absolute;
  top: -115px;
  right: 90px;
  &:hover{
    background: #ea375c;
    color: @white;
  }
}
.next1{
  position: absolute;
  top: -115px;
  right: 20px;
  &:hover{
    background: #ea375c;
    color: @white;
  }
}
.slick-dots{
  height: 25px!important;
}
.slick-dots li:nth-child(1)::before{
  content: "1";
  color: #b5b5b5;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
}
.slick-dots li:nth-child(2)::before{
  content: "2";
  color: #b5b5b5;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
}
.slick-dots li:nth-child(3)::before{
  content: "3";
  color: #b5b5b5;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
}
.slick-dots li:nth-child(4)::before{
  content: "4";
  color: #b5b5b5;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
}
.slick-dots li:nth-child(5)::before{
  content: "5";
  color: #b5b5b5;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
}
.slick-active::before{
  color: black!important;
}
.slick-dots li{
  width: 15px;
  margin: 0 0;
}
.slick-dots{
  display: inline-block;
  position: absolute;
  top: -100px;
  right: 150px;
  width: 10%;
}
@media screen and (max-width: 1200px){
  .wrapCategoriesItem{
    width: 235px;
  }
}
@media screen and (max-width: 992px){
  .wrapCategoriesItem{
    width: 240px;
  }
  .slick-dots{
    width: 12%;
  }
}
@media screen and (max-width: 720px){
  .wrapCategoriesItem {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 420px){
  .wrapCategoriesItem{
    width: 100%;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .wrapCategoriesItem__text {
    font-size: 24px;
  }
  .wrapMainText__h1{
    font-size: 68px;
  }
  .newsHover__tittle{
    font-size: 18px!important;
  }
}