@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf"), url("fonts/Akrobat-Black.eot") format("embedded-opentype"), url("fonts/Akrobat-Black.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Bold";
  src: url("fonts/Akrobat-Bold.eot"), url("fonts/Akrobat-Bold.woff") format("woff"), url("fonts/Akrobat-Bold.eot?#iefix") format('embedded-opentype'), url("fonts/Akrobat-Bold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraBold";
  src: url("fonts/Akrobat-ExtraBold.otf");
}
@font-face {
  font-family: "Akrobat-ExtraLight";
  src: url("fonts/Akrobat-ExtraLight.otf");
}
@font-face {
  font-family: "Akrobat-Light";
  src: url("fonts/Akrobat-Light.otf"), url("fonts/Akrobat-Light.eot") format("embedded-opentype"), url("fonts/Akrobat-Light.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-Regular";
  src: url("fonts/Akrobat-Regular.otf"), url("fonts/Akrobat-Regular.eot") format("embedded-opentype"), url("fonts/Akrobat-Regular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Akrobat-SemiBold";
  src: url("fonts/Akrobat-SemiBold.otf");
}
@font-face {
  font-family: "Akrobat-Thin";
  src: url("fonts/Akrobat-Thin.otf");
}
@font-face {
  font-family: "Akrobat-Black";
  src: url("fonts/Akrobat-Black.otf");
}
@font-face {
  font-family: "GothamProBlack";
  src: url("fonts/GothamProBlack/GothamProBlack.woff") format("woff"), url("fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
}
@font-face {
  font-family: "GothamProBold";
  src: url("fonts/GothamProBold/GothamProBold.woff") format("woff"), url("fonts/GothamProBold/GothamProBold.ttf") format("truetype"), url("fonts/GothamProBold/GothamProBold.eot") format("embedded-opentype"), url("fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProRegular";
  src: url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"), url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype"), url("fonts/GothamProRegular/GothamProRegular.eot") format("embedded-opentype"), url("fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProLight";
  src: url("fonts/GothamProLight/GothamProLight.woff") format("woff"), url("fonts/GothamProLight/GothamProLight.ttf") format("truetype"), url("fonts/GothamProLight/GothamProLight.eot") format("embedded-opentype"), url("fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "GothamProMedium";
  src: url("fonts/GothamProMedium/GothamProMedium.woff") format("woff"), url("fonts/GothamProMedium/GothamProMedium.ttf") format("truetype"), url("fonts/GothamProMedium/GothamProMedium.eot") format("embedded-opentype"), url("fonts/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype");
}
.blocCategories-h2 {
  color: #141d22;
  font-size: 40px;
  font-family: "Akrobat-Light", sans-serif;
  line-height: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 160px;
}
.blocCategories-h2 span {
  font-family: "Akrobat-Bold", sans-serif;
}
.sliderCategories {
  display: inline-block;
  margin-bottom: 60px;
}
.wrapLinearBlack {
  margin-bottom: 50px;
  background: #c7c7c7;
  width: 100%;
  height: 1px;
}
.wrapLinearBlack__bold {
  background: #ea375c;
  width: 50px;
  height: 3px;
  margin-bottom: 45px;
}
.wrapCategoriesItem {
  position: relative;
  display: block;
  width: 285px;
}
.wrapCategoriesItem img {
  width: 100%;
}
.bloc-text {
  text-align: center;
  background: transparent;
  transition: background .3s;
}
.wrapCategoriesItem__text {
  text-transform: uppercase;
  width: 185px;
  margin: 0 auto;
  font-size: 30px;
  color: #141d22;
  text-align: center;
  font-family: "Akrobat-Bold", sans-serif;
  padding: 40px 0 30px 0;
}
.wrapCategoriesItem__btn {
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
  color: #141d22;
  background: white;
  width: 134px;
  height: 41px;
  border: 2px solid #141d22;
  display: inline-block;
  margin: 0 auto 40px;
  transition: all .3s;
  padding-top: 7px;
}
.wrap-img {
  position: relative;
}
.wrapCategoriesItem__mask {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s;
}
.itemLinearHover {
  opacity: 0;
  background: #141d22;
  width: 100%;
  height: 1px;
  transition: opacity .3s ;
}
.itemLinearHover__bold {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 50px;
  height: 3px;
  background: #141d22;
}
.sliderCategories:hover a {
  text-decoration: none;
}
.sliderCategories:hover .itemLinearHover {
  opacity: 1;
}
.sliderCategories:hover .wrapCategoriesItem__mask {
  opacity: 1;
}
.sliderCategories:hover .bloc-text {
  background: rgba(226, 193, 184, 0.3);
  text-decoration: none;
}
.sliderCategories:hover .wrapCategoriesItem__btn {
  color: white;
  background: #141d22;
}
.slicSlider {
  position: relative;
}
.prew1,
.next1 {
  display: inline-block;
  cursor: pointer;
  color: #959595;
  font-size: 28px;
  background: transparent;
  padding: 5px 20px;
  border-radius: 100%;
  transition: all .3s;
}
.prew1 {
  position: absolute;
  top: -115px;
  right: 90px;
}
.prew1:hover {
  background: #ea375c;
  color: white;
}
.next1 {
  position: absolute;
  top: -115px;
  right: 20px;
}
.next1:hover {
  background: #ea375c;
  color: white;
}
.slick-dots {
  height: 25px!important;
}
.slick-dots li:nth-child(1)::before {
  content: "1";
  color: #b5b5b5;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
}
.slick-dots li:nth-child(2)::before {
  content: "2";
  color: #b5b5b5;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
}
.slick-dots li:nth-child(3)::before {
  content: "3";
  color: #b5b5b5;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
}
.slick-dots li:nth-child(4)::before {
  content: "4";
  color: #b5b5b5;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
}
.slick-dots li:nth-child(5)::before {
  content: "5";
  color: #b5b5b5;
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
}
.slick-active::before {
  color: black!important;
}
.slick-dots li {
  width: 15px;
  margin: 0 0;
}
.slick-dots {
  display: inline-block;
  position: absolute;
  top: -100px;
  right: 150px;
  width: 10%;
}
@media screen and (max-width: 1200px) {
  .wrapCategoriesItem {
    width: 235px;
  }
}
@media screen and (max-width: 992px) {
  .wrapCategoriesItem {
    width: 240px;
  }
  .slick-dots {
    width: 12%;
  }
}
@media screen and (max-width: 720px) {
  .wrapCategoriesItem {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 420px) {
  .wrapCategoriesItem {
    width: 100%;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .wrapCategoriesItem__text {
    font-size: 24px;
  }
  .wrapMainText__h1 {
    font-size: 68px;
  }
  .newsHover__tittle {
    font-size: 18px!important;
  }
}
