// out: null


@bootstrap: "/catalog/view/theme/denis_shop/bower_components/bootstrap/less/";


// Bootstrap Components

@import "@{bootstrap}variables";
@import "@{bootstrap}mixins";
@import "@{bootstrap}normalize";
@import "@{bootstrap}scaffolding";
@import "@{bootstrap}grid";
@import "@{bootstrap}type";
@import "@{bootstrap}responsive-utilities";
@import "@{bootstrap}utilities";
@import "@{bootstrap}modals";



html, body {
  height: 100%;
}


ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  &:focus {
    outline: none;
  }
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
html.js .loader {
  background: none repeat scroll 0 0 rgba(0,0,0,.8);
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
html.js .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}
.hidden{
  display: none;
}
//validation
.error{
  border: 1px solid red!important;
}
#name-error,
#firstName-error,
#phone-error,
#email-error,
#street-error,
#home-error,
#kvart-error,
#pass-error,
#passContinue-error{
  display: none!important;
}




/* Libs import
==============================*/
@import "formStyler";
@import "datepicer";
@import "/catalog/view/theme/denis_shop/bower_components/magnific-popup/dist/magnific-popup.css";
@import "popup";
@import "/catalog/view/theme/denis_shop/bower_components/jScrollPane/style/jquery.jscrollpane.css";
/* Pages import
==============================*/
@import "header";
@import "mainBlock";
@import "blocAction";
@import "sliderCategories";
@import "blockDenis";
@import "indexTwoSliders";
@import "blockNews";
@import "blockEmail";
@import "pages/pageCatalog";
@import "pages/pageRegistration";
@import "pages/pageItem";
@import "pages/pageFilter";
@import "pages/aboutAs";
@import "pages/blog";
@import "pages/zacaz";
@import "pages/privateCab";


