@import "font";
//font-fam
@gbold:"GothamProBold",sans-serif;
@abold:"Akrobat-Bold",sans-serif;
@alig:"Akrobat-Light",sans-serif;
@greg:"GothamProRegular",sans-serif;
@ablack:"Akrobat-Black",sans-serif;
@areg:"Akrobat-Regular",sans-serif;
@glight:"GothamProLight",sans-serif;
@asemi:"Akrobat-SemiBold",sans-serif;
@gmed:"GothamProMedium",sans-serif;

//font size

@f10:10px;
@f12:12px;
@f18:18px;
@f14:14px;
@f16:16px;
@f20:20px;
@f22:22px;
@f30:30px;
@f40:40px;

//colors

@feol:#bf1184;
@black:#323232;
@grey:#8e8e8e;
@white:white;
@whitet:white;
@text-grey:#626262;
@colorText:#141d22;
@cc:#cccccc;
@popularBg:#2fe2ff;
@greyText:#919191;
@colSocial:#666666;